* {
    box-sizing: border-box
}

*:before,
*:after {
    box-sizing: border-box
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

div {
    text-align: center;
}

button {
    font-size: 30px;
    vertical-align: middle;
}

.title {
    font-size: 60px;
    color: #57bb8a;
    margin: 0;
    line-height: 1;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 60px;
    color: #57bb8a;
    margin: 0;
    line-height: 2.4;
    font-weight: bold;
}

a.active {
    color: #35495e;
}

img {
    max-width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

button {
    color: #35495e;
}

.fz40 {
    font-size: 40px;
    color: #35495e;
}

.main {
    width: 100%;
}

.hello {
    font-size: 0;
}

.hello img {
    width: 200px;
    height: 200px;
}

.router {
    font-size: 50px
}

.vuex {
    line-height: 1
}

.increment {
    margin-top: 20px
}