$w1: 751px;
$w2: 992px;
$w3: 1200px;

@mixin box-flex ($grid){

	@content;
	
	.d-#{$grid}-n{display:none;}
	.d-#{$grid}-i{display: inline;}
	.d-#{$grid}-b{display:block;}
	.d-#{$grid}-ib{display: inline-block;}
	.d-#{$grid}-t{display:table;}
	.d-#{$grid}-bc{display:table-cell;}

	@for $i from 0 through 100 {.fz-#{$grid}-#{$i}{font-size:$i + px;}}
	@for $i from 0 through 100 {.lh-#{$grid}-#{$i}{line-height:$i + px;}}
	@for $i from 0 through 100 {.ti-#{$grid}-#{$i}{text-indent:$i + px;}}
	
	@for $i from 0 through 100 {
	.p-#{$grid}-#{$i}{padding:$i + px;}
	.pt-#{$grid}-#{$i}{padding-top:$i + px;}
	.pr-#{$grid}-#{$i}{padding-right:$i + px;}
	.pb-#{$grid}-#{$i}{padding-bottom:$i + px;}
	.pl-#{$grid}-#{$i}{padding-left:$i + px;}
	}

	@for $i from 0 through 100 {
	.m-#{$grid}-#{$i}{margin:$i + px;}
	.mt-#{$grid}-#{$i}{margin-top:$i + px;}
	.mr-#{$grid}-#{$i}{margin-right:$i + px;}
	.mb-#{$grid}-#{$i}{margin-bottom:$i + px;}
	.ml-#{$grid}-#{$i}{margin-left:$i + px;}
	}
	
}

@include box-flex (xs){}
$box-flex-data: (sm, $w1),(md, $w2),(lg, $w3);
@each $grid, $w in $box-flex-data {
	@media only screen and (min-width: $w){	
		@include box-flex ($grid){}	
	}	
}