/*字体大小*/
@for $i from 0 through 100 {.fz#{$i}{font-size:$i + px;}}

/*行高*/
@for $i from 0 through 100 {.lh#{$i}{line-height:$i + px;}}

/*段落缩进*/
@for $i from 0 through 100 {.ti#{$i}{text-indent:$i + px;}}

/*单元格与边框之间的距离*/
@for $i from 0 through 100 {.bdsp#{$i}{border-spacing:$i + px;}}

/*内边距*/
@for $i from 0 through 100 {
.p#{$i}{padding:$i + px;}
.pt#{$i}{padding-top:$i + px;}
.pr#{$i}{padding-right:$i + px;}
.pb#{$i}{padding-bottom:$i + px;}
.pl#{$i}{padding-left:$i + px;}
}

/*外边距*/
@for $i from 0 through 100 {
.m#{$i}{margin:$i + px;}
.mt#{$i}{margin-top:$i + px;}
.mr#{$i}{margin-right:$i + px;}
.mb#{$i}{margin-bottom:$i + px;}
.ml#{$i}{margin-left:$i + px;}
}

/*圆角*/
@for $i from 0 through 100 {
.bdrs#{$i}{border-radius:$i + px;}
.btrr#{$i}{border-top-right-radius:$i + px;}
.btlr#{$i}{border-top-left-radius:$i + px;}
.bbrr#{$i}{border-bottom-right-radius:$i + px;}
.bblr#{$i}{border-bottom-left-radius:$i + px;}
}

/*轮廓*/
@for $i from 0 through 10 {	
.olo#{$i}{outline-offset:$i + px;}
.olw#{$i}{outline-width:$i + px;}
}

/*边框： 点 虚线 实线 双实线*/
$border:dotted, dashed, solid, double;
@mixin border ($xx1){	
	@content;		
	@for $i from 1 through 10 {	
	.bd_#{$i}-#{$xx1}{border:$i + px #{$xx1};}
	.bdt_#{$i}-#{$xx1}{border-top:$i + px #{$xx1};}
	.bdr_#{$i}-#{$xx1}{border-right:$i + px #{$xx1};}
	.bdb_#{$i}-#{$xx1}{border-bottom:$i + px #{$xx1};}
	.bdl_#{$i}-#{$xx1}{border-left:$i + px #{$xx1};}
	}
}
@each $xx1 in $border{@include border ($xx1){}}

/*边框隐藏*/
$n:none;
.bd-n{border:$n;}
.bdts-n{border-top-style:$n;}
.bdrs-n{border-right-style:$n;}
.bdbs-n{border-bottom-style:$n;}
.bdls-n{border-left-style:$n;}

/*层级*/
@for $i from 0 through 10 { .z#{$i}{z-index:$i; }}
.z2147483647{z-index:2147483647;}

/*行高百分百*/
@for $i from 10 through 20 {.lh#{$i*10}p{line-height: $i*10 + %;}}

$nb0:0; $nb25:25%; $nb50:50%; $nb75:75%; $nb100:100%;

/*宽度*/
.w0p{width:$nb0;}.w25p{width:$nb25;}.w50p{width:$nb50;}.w75p{width:$nb75;}.w100p{width:$nb100;}
/*背景定位*/
.bgp_50p0  { background-position: $nb50 $nb0; }/*top center*/
.bgp_100p0 { background-position: $nb100 $nb0; }/*right top*/
.bgp_0p-50p { background-position: $nb0 #{-$nb50;} }/*left center*/
.bgp_0p-100p { background-position: $nb0 #{-$nb100;} }/*left bottom*/
.bgp_50p-50p { background-position: $nb50 #{-$nb50;} }/*center center*/
.bgp_50p-100p { background-position: $nb50 #{-$nb100;} }/*bottom center*/
.bgp_100p-50p { background-position: $nb100 #{-$nb50;} }/*right center*/
.bgp_100p-100p { background-position: $nb100 #{-$nb100;} }/*right bottom*/