$a:auto;
$b:bottom;
$c:center;
$f:fixed;
$h:hidden;
$l:left;
$n:none;
$r:right;
$t:top;
$nl:normal;
$bh:both;

//------------------------------------------------------------//

/*! 元素可见性*/
$visibility:(h:$h, v:visible);
@each $class , $var in $visibility {.v-#{$class}{visibility: $var;}}

/*! 元素状态*/
$display:(n:$n, i:inline, b:block, ib:inline-block, t:table, bc:table-cell, tbr:table-row, tbrg:table-row-group, tbcl:table-column, tbclg:table-column-group);
@each $class , $var in $display {.d-#{$class}{display: $var;}}

//------------------------------------------------------------//

/*! 浮动*/
$float:(n:$n, l:$l, r:$r);
@each $class , $var in $float {.fl-#{$class}{float: $var;}}

/*! 清除浮动*/
$clear:(n:$n, l:$l, r:$r, b:$bh);
@each $class , $var in $clear {.cl-#{$class}{clear: $var;}}

/*! 定位*/
$position:(s:static, f:$f, r:relative, a:absolute);
@each $class , $var in $position {.pos-#{$class}{position: $var;}}

//------------------------------------------------------------//

/*! 字体加粗*/
$font-weight:(b:bold, n:$nl, l:lighter, br:bolder);
@each $class , $var in $font-weight {.fw-#{$class}{font-weight: $var;}}

/*! 字体斜体*/
$font-style:(i:italic, n:$nl);
@each $class , $var in $font-style {.fs-#{$class}{font-style: $var;}}

/*！ 内联定位(上中下)*/
$vertical-align:(t:$t, m:middle, b:$b, tb:text-bottom, tt:text-top, sp:super, sb:sub);
@each $class , $var in $vertical-align {.va-#{$class}{vertical-align: $var;}}

/*! 字母大小写*/
$text-transform:(n:$n, c:capitalize, u:uppercase, l:lowercase);
@each $class , $var in $text-transform {.tt-#{$class}{text-transform: $var;}}

/*! 字体划线*/
$text-decoration:(n:$n, o:overline, l:line-through, u:underline);
@each $class , $var in $text-decoration {.td-#{$class}{text-decoration: $var;}}

/*! 文字排版*/
$text-align:(c:$c, l:$l, r:$r, j:justify);
@each $class , $var in $text-align {.ta-#{$class}{text-align: $var;}}

/*! 文字排版最后一行*/
@each $class , $var in $text-align {.tal-#{$class}{text-align-last: $var;}}

/*! 文字书写模式*/
$writing-mode:(tb:horizontal-tb, rl:vertical-rl, lr:vertical-lr);
@each $class , $var in $writing-mode {.wm-#{$class}{writing-mode: $var;}}

//------------------------------------------------------------//

/*! 背景定位*/
$background-position:(tl:$t $l, tc:$t $c, tr:$t $r, cl:$c $l, cc:$c $c, cr:$c $r, bl:$b $l, bc:$b $c, br:$b $r);
@each $class , $var in $background-position {.bgp-#{$class}{background-position: $var;}}

/*! 背景铺垫*/
$background-repeat:(n:no-repeat, x:repeat-x, y:repeat-y);
@each $class , $var in $background-repeat {.bgr-#{$class}{background-repeat: $var;}}

/*! 背景固定*/
$background-attachment:(bga-f:$f);
@each $class , $var in $background-attachment {.#{$class}{background-attachment: $var;}}

/*! 背景填充*/
$background-size:(cv:cover, ct:contain);
@each $class , $var in $background-size {.bgs-#{$class}{background-size: $var;}}

/*! 背景色相对于盒子中显示*/
$background-co:(pd:padding-box, bb:border-box, cb:content-box);
@each $class , $var in $background-co {.bgc-#{$class}{background-clip: $var;}}

/*! 背景图像相对于盒子中定位*/
@each $class , $var in $background-co {.bgo-#{$class}{background-origin: $var;}}

//------------------------------------------------------------//

/*! 表格*/
$table-layout:(a:$a, f:$f);
@each $class , $var in $table-layout {.tbl-#{$class}{table-layout: $var;}}

$caption-side:(t:$t, b:$b);
@each $class , $var in $caption-side {.cps-#{$class}{caption-side: $var;}}

$empty-cells:(s:show, h:hide);
@each $class , $var in $empty-cells {.ec-#{$class}{empty-cells: $var;}}

//------------------------------------------------------------//

/*! LI样式 实心 空心 小方块 罗马 字母 数字*/
$list-style-type:(n:$n, d:disc, c:circle, s:square, u:upper-roman, l:lower-alpha, dc:decimal);
@each $class , $var in $list-style-type {.lst-#{$class}{list-style-type: $var;}}

/*! 鼠标指针 手指 文字 更多 十字 求助 箭头*/
$cursor:(p:pointer, t:text, m:move, c:crosshair, h:help, d:default);
@each $class , $var in $cursor {.cur-#{$class}{cursor: $var;}}

/*! 规定是否可由用户调整元素的尺寸*/
$resize:(n:$n, b:$bh, h:horizontal, v:vertical);
@each $class , $var in $resize {.rsz-#{$class}{resize: $var;}}

/*! 绘制元素*/
$box-sizing:(cb:content-box, bb:border-box);
@each $class , $var in $box-sizing {.bxz-#{$class}{box-sizing: $var;}}	

/*! 滚动条*/
$overflow: (a:$a, v:visible, h:$h, s:scroll);
@each $class, $var in $overflow {
.ov-#{$class}{overflow: $var;}
.ovx-#{$class}{overflow-x: $var;}
.ovy-#{$class}{overflow-y: $var;}
}

//------------------------------------------------------------//

/*! 合并边框模型*/
$border-collapse:(c:collapse, s:separate);
@each $class , $var in $border-collapse {.bdcl-#{$class}{border-collapse: $var;}}	

/*! 边框样式 点 虚线 实线 双实线 */
$border-style:(n:$n, dt:dotted, ds:dashed, sl:solid, db:double);
@each $class , $var in $border-style {
.bds-#{$class}{border-style: $var;}
.bdts-#{$class}{border-top-style: $var;}
.bdrs-#{$class}{border-right-style: $var;}
.bdbs-#{$class}{border-bottom-style: $var;}
.bdls-#{$class}{border-left-style: $var;}
.ols-#{$class}{outline-style: $var;}
}