//常用值//
$a:auto; $f:fixed; $j:justify; $h:hidden; $n:none; $v:visible; $s:scroll; $nl:normal; $bh:both; $pd:padding-box; $bb:border-box; $cb:content-box;
//方向//
$b:bottom; $c:center; $l:left; $r:right; $t:top;
//边框样式//
$dt:dotted; $ds:dashed; $sl:solid; $du:double;
//常用数值//
$nb0:0; $nb50:50%; $nb100:100%;

//======================================attr=======================================//

//元素可见性//
$vv:(v-h:$h, v-v:$v);
//元素状态//
$dy:(d-n:$n, d-i:inline, d-b:block, d-ib:inline-block, d-f:flex, d-g:grid, d-li:list-item, d-t:table, d-itb:inline-table, d-bc:table-cell, d-tbcp:table-caption, d-tbr:table-row, d-tbrg:table-row-group, d-tbcl:table-column, d-tbclg:table-column-group, d-tbhg:table-header-group, d-tbfg:table-footer-group);

//------------------------------------------------------------//

//浮动//
$fl:(fl-n:$n, fl-l:$l, fl-r:$r);
//清除浮动//
$cl:(cl-n:$n, cl-l:$l, cl-r:$r, cl-b:$bh);
//定位//
$pos:(pos-s:static, pos-f:$f, pos-r:relative, pos-a:absolute);

//------------------------------------------------------------//

//字体加粗//
$fw:(fw-b:bold, fw-n:$nl, fw-l:lighter, fw-br:bolder);
//字体斜体//
$fs:(fs-i:italic, fs-n:$nl);
//内联定位(上中下)//
$va:(va-t:$t, va-m:middle, va-b:$b, va-tb:text-bottom, va-tt:text-top, va-sp:super, va-sb:sub);
//字母大小写//
$tt:(tt-n:$n, tt-c:capitalize, tt-u:uppercase, tt-l:lowercase);
//字体划线//
$td:(td-n:$n, tt-o:overline, tt-l:line-through, tt-u:underline);
//文字排版//
$ta:(ta-c:$c, ta-l:$l, ta-r:$r, ta-j:$j);
//文字排版最后一行//
$tal:(tal-c:$c, tal-l:$l, tal-r:$r, tal-j:$j);

//------------------------------------------------------------//

//背景铺垫//
$bgr:(bgr-n:no-repeat, bgr-x:repeat-x, bgr-y:repeat-y, bgr-r:round, bgr-s:space);
//背景固定//
$bga:(bga-f:$f);
//背景填充//
$bgs:(bgs-cv:cover, bgs-ct:contain);
//背景色相对于盒子中显示//
$bgc:(bgc-pd:$pd, bgc-bb:$bb, bgc-cb:$cb);
//背景图像相对于盒子中定位//
$bgo:(bgo-pd:$pd, bgo-bb:$bb, bgo-cb:$cb);

//------------------------------------------------------------//

//表格//
$tbl:(tbl-a:$a, tbl-f:$f);
$cps:(cps-t:$t, cps-b:$b);
$ec:(ec-s:show, ec-h:hide);

//------------------------------------------------------------//

//LI样式 实心 空心 小方块 罗马 字母 数字//
$lst:(lst-n:$n, lst-d:disc, lst-c:circle, lst-s:square, lst-u:upper-roman, lst-l:lower-alpha, lst-dc:decimal);
//鼠标指针 手指 文字 更多 十字 求助 箭头//
$cur:(cur-p:pointer, cur-t:text, cur-m:move, cur-c:crosshair, cur-h:help, cur-d:default);
//规定是否可由用户调整元素的尺寸//
$rsz:(rsz-n:$n, rsz-b:$bh, rsz-h:horizontal, rsz-v:vertical);
//绘制元素//
$bxz:(bxz-cb:$cb, bxz-bb:$bb);

//------------------------------------------------------------//

//滚动条//
$ov:(ov-a:$a, ov-v:$v, ov-h:$h, ov-s:$s);
$ovx:(ovx-a:$a, ovx-v:$v, ovx-h:$h, ovx-s:$s);
$ovy:(ovy-a:$a, ovy-v:$v, ovy-h:$h, ovy-s:$s);

//------------------------------------------------------------//

//合并边框模型//
$bdcl:(bdcl-c:collapse, bdcl-s:separate);
//轮廓//
$ols:(ols-n:$n, ols-dt:$dt, ols-ds:$ds, ols-sl:$sl, ols-du:$du);

$css:(
$vv:visibility,
$dy:display,
$fl:float,
$cl:clear,
$pos:position, 
$fw:font-weight,
$fs:font-style,
$va:vertical-align,
$tt:text-transform,
$td:text-decoration,
$ta:text-align,
$tal:text-align-last,
$bgr:background-repeat,
$bga:background-attachment,
$bgs:background-size,
$bgc:background-clip,
$bgo:background-origin,
$tbl:table-layout,
$cps:caption-side,
$ec:empty-cells,
$lst:list-style-type,
$cur:cursor,
$rsz:resize,
$bxz:box-sizing,
$ov:overflow,
$ovx:overflow-x,
$ovy:overflow-y,
$bdcl:border-collapse,
$ols:outline-style
);

@mixin csss ($array, $numer){
	@content;		
	@each $class, $var in $array {				
		.#{$class}{#{$numer}: $var;}
	}
}

@each $array, $numer in $css{
	@include csss ($array, $numer){}
}

//======================================box=======================================//

@for $i from 0 through 100 {
//字体大小//
.fz#{$i}{font-size:$i + px;}
//段落缩进//
.ti#{$i}{text-indent:$i + px;}
//单元格与边框之间的距离//	
.bdsp#{$i}{border-spacing:$i + px;}
//内边距//
.p#{$i}{padding:$i + px;}
.pt#{$i}{padding-top:$i + px;}
.pr#{$i}{padding-right:$i + px;}
.pb#{$i}{padding-bottom:$i + px;}
.pl#{$i}{padding-left:$i + px;}	
//外边距//
.m#{$i}{margin:$i + px;}
.mt#{$i}{margin-top:$i + px;}
.mr#{$i}{margin-right:$i + px;}
.mb#{$i}{margin-bottom:$i + px;}
.ml#{$i}{margin-left:$i + px;}
//圆角//
.bdrs#{$i}{border-radius:$i + px;}
.btrr#{$i}{border-top-right-radius:$i + px;}
.btlr#{$i}{border-top-left-radius:$i + px;}
.bbrr#{$i}{border-bottom-right-radius:$i + px;}
.bblr#{$i}{border-bottom-left-radius:$i + px;}
}

//-------------------------------边框： 点 虚线 实线 双实线-----------------------------//
$border:dotted, dashed, solid, double;
@mixin border ($xx1){	
	@content;		
	@for $i from 1 through 10 {	
	.bd_#{$i}-#{$xx1}{border:$i + px #{$xx1};}
	.bdt_#{$i}-#{$xx1}{border-top:$i + px #{$xx1};}
	.bdr_#{$i}-#{$xx1}{border-right:$i + px #{$xx1};}
	.bdb_#{$i}-#{$xx1}{border-bottom:$i + px #{$xx1};}
	.bdl_#{$i}-#{$xx1}{border-left:$i + px #{$xx1};}
	}
}
@each $xx1 in $border{@include border ($xx1){}}

//-------------------------------边框隐藏-----------------------------//
.bd-n{border:$n;}
.bdts-n{border-top-style:$n;}
.bdrs-n{border-right-style:$n;}
.bdbs-n{border-bottom-style:$n;}
.bdls-n{border-left-style:$n;}

//-----------------------------轮廓,层级-------------------------------//
@for $i from 0 through 10 {	
.olo#{$i}{outline-offset:$i + px;}
.olw#{$i}{outline-width:$i + px;}
.z#{$i}{z-index:$i; }
}

//-----------------------------行高百分比-------------------------------//
@for $i from 10 through 100 {.lh#{$i*10}p{line-height: $i*10 + %;}}

//-----------------------------宽度百分比-------------------------------//
@for $i from 0 through 100 {.w#{$i}p{width: $i + %;}}

//-----------------------------背景百分比定位-------------------------------//
.bgp_50p0  { background-position: $nb50 $nb0; }//top center//
.bgp_100p0 { background-position: $nb100 $nb0; }//right top//
.bgp_0p50p { background-position: $nb0 $nb50; }//left center//
.bgp_0p100p { background-position: $nb0 $nb100; }//left bottom//
.bgp_50p50p { background-position: $nb50 $nb50; }//center center//
.bgp_50p100p { background-position: $nb50 $nb100; }//bottom center//
.bgp_100p50p { background-position: $nb100 $nb50; }//right center//
.bgp_100p100p { background-position: $nb100 $nb100; }//right bottom//

//-----------------------------响应式值-------------------------------//

$w1: 751;
$w2: 992;
$w3: 1200;
$nbs: 100;

@mixin media ($grid){
	@content;	
	.d-#{$grid}-n{display:none;}
	.d-#{$grid}-i{display: inline;}
	.d-#{$grid}-b{display:block;}
	.d-#{$grid}-ib{display: inline-block;}
	.d-#{$grid}-t{display:table;}
	.d-#{$grid}-bc{display:table-cell;}
	.d-#{$grid}-f{display:flex;}
	.d-#{$grid}-g{display:grid;}
	
	.fl-#{$grid}-n{float: none;}
	.fl-#{$grid}-l{float: left;}
	.fl-#{$grid}-r{float: right;}

	.pos-#{$grid}-s{position: static;}
	.pos-#{$grid}-f{position: fixed;}
	.pos-#{$grid}-r{position: relative;}
	.pos-#{$grid}-a{position: absolute;}

	.ta-#{$grid}-c{text-align: center;}
	.ta-#{$grid}-l{text-align: left;}
	.ta-#{$grid}-r{text-align: right;}
	.ta-#{$grid}-j{text-align: justify;}


	@for $i from 0 through 100 {.fz-#{$grid}-#{$i}{font-size:$i/$nbs + rem;}}
	@for $i from 10 through 100 {.lh-#{$grid}-#{$i*10}p{line-height: $i*10 + %;}}
	@for $i from 0 through 100 {.ti-#{$grid}-#{$i}{text-indent:$i/$nbs + rem;}}
	
	@for $i from 0 through 100 {
	.p-#{$grid}-#{$i}{padding:$i/$nbs + rem;}
	.pt-#{$grid}-#{$i}{padding-top:$i/$nbs + rem;}
	.pr-#{$grid}-#{$i}{padding-right:$i/$nbs + rem;}
	.pb-#{$grid}-#{$i}{padding-bottom:$i/$nbs + rem;}
	.pl-#{$grid}-#{$i}{padding-left:$i/$nbs + rem;}
	}

	@for $i from 0 through 100 {
	.m-#{$grid}-#{$i}{margin:$i/$nbs + rem;}
	.mt-#{$grid}-#{$i}{margin-top:$i/$nbs + rem;}
	.mr-#{$grid}-#{$i}{margin-right:$i/$nbs + rem;}
	.mb-#{$grid}-#{$i}{margin-bottom:$i/$nbs + rem;}
	.ml-#{$grid}-#{$i}{margin-left:$i/$nbs + rem;}
	}
	
}

$media-data: (sm, $w1),(md, $w2),(lg, $w3);
@each $grid, $w in $media-data {
	@media only screen and (min-width: $w + px){	
		@include media ($grid){}	
	}	
}