/*! flex-grid 栅格 1rem=100px*/

$sg: .15rem;
$w1: 751; $ww1: 750;
$w2: 992; $ww2: 970;
$w3: 1200; $ww3: 1170;
$nb: 100; $column: 12;

@mixin bs {box-sizing: border-box;}
@mixin pdsg {padding-right: $sg; padding-left: $sg;}
@mixin mlra {margin-left: auto; margin-right: auto;}
@mixin mgsg {margin-left: -$sg; margin-right: -$sg;}

* {@include bs;}
*:before,*:after {@include bs;}
.container {/*! width: 100%!important; max-width:1200px; 去掉注释开启适屏模式*/}
.container,.container-fluid {@include mlra; @include pdsg; }

.row{display: flex; flex-flow:row wrap; @include mgsg;}
[class*="col-"],[class*="grow-"]{@include pdsg;}
[class*="col-"]{flex-basis: $nb + %; max-width: $nb + %;}

.grid,.grid-fluid{display: grid; width: $nb + %; @include mlra;}

@mixin flexgrid ($grid){
	@content;
	
	//flex
	@for $i from 1 through $column {.col-#{$grid}-#{$i}{flex-basis: $nb / $column * $i + %; max-width: $nb / $column * $i + %;}}
	@for $i from 0 through $column {.grow-#{$grid}-#{$i}{flex-grow: $i;} .shrink-#{$grid}-#{$i}{flex-shrink: $i;}}
	@for $i from 0 through ($column - 1) {.offset-#{$grid}-#{$i}{margin-left: $nb / $column * $i + %;}}
		
	$fxd: (row, row),(rr, row-reverse),(cn, column),(cr,column-reverse );
	@each $val, $direction in $fxd {		
	.fxd-#{$grid}-#{$val}{flex-direction: $direction;}		
	}
		
	$fxw: (nowrap, nowrap),(wrap, wrap),(wr, wrap-reverse);
	@each $val, $direction in $fxw {		
	.fxw-#{$grid}-#{$val}{flex-wrap: $direction;}	
	}
		
	$jc: (start, flex-start),(center, center),(end, flex-end),(around, space-around),(between, space-between);
	@each $val, $direction in $jc {		
	.jc-#{$grid}-#{$val}{justify-content: $direction;}	
	}
		
	$ai: (top, flex-start),(middle, center),(bottom, flex-end),(stretch, stretch),(baseline, baseline);
	@each $val, $direction in $ai {		
	.ai-#{$grid}-#{$val}{align-items: $direction;}	
	}	
		
	$ac: (top, flex-start),(middle, center),(bottom, flex-end),(stretch, stretch),(around, space-around),(between, space-between);
	@each $val, $direction in $ac {		
	.ac-#{$grid}-#{$val}{align-content: $direction;}	
	}

	$as: (top, flex-start),(middle, center),(bottom, flex-end),(stretch, stretch),(baseline, baseline),(auto, auto);
	@each $val, $direction in $as {		
	.as-#{$grid}-#{$val}{align-self: $direction;}	
	}	

	$order: (first, -1),(last, 999);
	@each $val, $direction in $order {		
	.order-#{$grid}-#{$val}{order: $direction;}	
	}

	@for $i from 0 through $column{
	.order-#{$grid}-#{$i}{order: $i;}
	}

	//Grid
	
	@for $i from 1 through $column {
		
	//设置重复性单元格的行列
		.gtr-#{$grid}-#{$i}{grid-template-rows: repeat($i, 1fr);}
		.gtc-#{$grid}-#{$i}{grid-template-columns: repeat($i, 1fr);}		

	//单元格的顺序与合并个数	
		.grs-#{$grid}-#{$i}{grid-row-start: $i;}
		.gre-#{$grid}-#{$i}{grid-row-end: $i;}
		.gcs-#{$grid}-#{$i}{grid-column-start: $i;}	
		.gce-#{$grid}-#{$i}{grid-column-end: $i;}

		.grsm-#{$grid}-#{$i}{grid-row-start: span $i;}	
		.grem-#{$grid}-#{$i}{grid-row-end: span $i;}	
		.gcsm-#{$grid}-#{$i}{grid-column-start: span $i;}
		.gcem-#{$grid}-#{$i}{grid-column-end: span $i;}		
	}

	//设置单元格宽度与高度
	@for $i from 2 through 120 {
		.gar-#{$grid}-#{$i*10}{grid-auto-rows: $i/10 + rem;}
		.gtcf-#{$grid}-#{$i*10}{grid-template-columns: repeat(auto-fill, $i/10 + rem);}	
	}

	//单元格的行列间距
	@for $i from 1 through 50 {
		.grg-#{$grid}-#{$i}{ grid-row-gap: $i/$nb + rem;}
		.gcg-#{$grid}-#{$i}{ grid-column-gap: $i/$nb + rem;}
		.gg-#{$grid}-#{$i}{ grid-gap: $i/$nb + rem;}
	}

	//单元格的轴线
	$gaf: (row:row, column:column, dense:dense, rd:row dense, cd: column dense);
		@each $val, $direction in $gaf {		
		.gaf-#{$grid}-#{$val}{grid-auto-flow: $direction;}	
	}

}

@include flexgrid (xs){}
$flexgrid-data: (sm, $w1, $ww1),(md, $w2, $ww2),(lg, $w3, $ww3);
@each $grid, $w, $ww in $flexgrid-data {
	@media only screen and (min-width: $w + px){		
		.container,.grid{width: $ww + px;}
		@include flexgrid ($grid){}	
	}	
}

@mixin media ($grid){
	@content;	
	.d-#{$grid}-n{display:none;}
	.d-#{$grid}-i{display: inline;}
	.d-#{$grid}-b{display:block;}
	.d-#{$grid}-ib{display: inline-block;}
	.d-#{$grid}-t{display:table;}
	.d-#{$grid}-bc{display:table-cell;}
	
	.fl-#{$grid}-n{float: none;}
	.fl-#{$grid}-l{float: left;}
	.fl-#{$grid}-r{float: right;}

	.pos-#{$grid}-s{position: static;}
	.pos-#{$grid}-f{position: fixed;}
	.pos-#{$grid}-r{position: relative;}
	.pos-#{$grid}-a{position: absolute;}

	.ta-#{$grid}-c{text-align: center;}
	.ta-#{$grid}-l{text-align: left;}
	.ta-#{$grid}-r{text-align: right;}
	.ta-#{$grid}-j{text-align: justify;}


	@for $i from 0 through 100 {.fz-#{$grid}-#{$i}{font-size:$i/$nb + rem;}}
	@for $i from 10 through 100 {.lh-#{$grid}-#{$i*10}p{line-height: $i*10 + %;}}
	@for $i from 0 through 100 {.ti-#{$grid}-#{$i}{text-indent:$i/$nb + rem;}}
	
	@for $i from 0 through 100 {
	.p-#{$grid}-#{$i}{padding:$i/$nb + rem;}
	.pt-#{$grid}-#{$i}{padding-top:$i/$nb + rem;}
	.pr-#{$grid}-#{$i}{padding-right:$i/$nb + rem;}
	.pb-#{$grid}-#{$i}{padding-bottom:$i/$nb + rem;}
	.pl-#{$grid}-#{$i}{padding-left:$i/$nb + rem;}
	}

	@for $i from 0 through 100 {
	.m-#{$grid}-#{$i}{margin:$i/$nb + rem;}
	.mt-#{$grid}-#{$i}{margin-top:$i/$nb + rem;}
	.mr-#{$grid}-#{$i}{margin-right:$i/$nb + rem;}
	.mb-#{$grid}-#{$i}{margin-bottom:$i/$nb + rem;}
	.ml-#{$grid}-#{$i}{margin-left:$i/$nb + rem;}
	}
	
}

$media-data: (sm, $w1),(md, $w2),(lg, $w3);
@each $grid, $w in $media-data {
	@media only screen and (min-width: $w + px){	
		@include media ($grid){}	
	}	
}