/*! flexbox-grid 栅格 1rem=100px*/

$sg: 0.15rem;
$w1: 750px;
$w2: 970px;
$w3: 1170px;
$nb: 100%;
$column: 12;

@mixin bs {box-sizing: border-box;}
@mixin pd15 {padding-right: $sg; padding-left: $sg;}
@mixin mlra{margin-left: auto; margin-right: auto;}
@mixin ma15{margin-left: -$sg; margin-right: -$sg;}

*{@include bs;}
*:before,*:after{@include bs;}

.container{/*! width: 100%!important; max-width:1200px; 去掉注释开启适屏模式*/}
.container,.container-fluid{ @include mlra; @include pd15;}

.row{display: flex; flex-direction: row; flex-wrap: wrap; @include ma15;}
[class*="col-"],[class*="ratio-"]{@include pd15;}
[class*="col-"]{flex-basis: $nb; max-width: $nb;}

@mixin max-screen($grid){

		@content;
	
		@for $i from 1 through $column {.col-#{$grid}-#{$i}{flex-basis: $nb / $column * $i; max-width: $nb / $column * $i}}
		@for $i from 1 through $column {.ratio-#{$grid}-#{$i}{flex-grow: $i;}}
		@for $i from 0 through ($column - 1) {.offset-#{$grid}-#{$i}{margin-left: $nb / $column * $i;}}
		
		$fxd: (row, row),(rr, row-reverse),(cn, column),(cr,column-reverse );
		@each $val, $direction in $fxd {		
		.fxd-#{$grid}-#{$val}{flex-direction: $direction;}		
		}
		
		$fxw: (nowrap, nowrap),(wrap, wrap),(wr, wrap-reverse);
		@each $val, $direction in $fxw {		
		.fxw-#{$grid}-#{$val}{flex-wrap: $direction;}	
		}
		
		$jc: (start, flex-start),(center, center),(end, flex-end),(around, space-around),(between, space-between);
		@each $val, $direction in $jc {		
		.jc-#{$grid}-#{$val}{justify-content: $direction;}	
		}
		
		$ai: (top, flex-start),(middle, center),(bottom, flex-end),(stretch, stretch);
		@each $val, $direction in $ai {		
		.ai-#{$grid}-#{$val}{align-items: $direction;}	
		}	
		
		$ac: (top, flex-start),(middle, center),(bottom, flex-end),(stretch, stretch),(around, space-around),(between, space-between);
		@each $val, $direction in $ac {		
		.ac-#{$grid}-#{$val}{align-content: $direction;}	
		}	

		$order: (first, -1),(same, 0),(last, 1);
		@each $val, $direction in $order {		
		.order-#{$grid}-#{$val}{order: $direction;}	
		}

}

@include max-screen (xs){}

$flexboxgrid-data: (sm, $w1, 1),(md, $w2, 22),(lg, $w3, 30);

@each $grid, $width, $sz in $flexboxgrid-data {

	@media only screen and (min-width:$width + $sz){	
	
		.container{width: $width;}	
	
		@include max-screen ($grid){}	
		
	}
	
}






				


