$grids: 100;
$gap: 100;

//设置单元格的行列
@for $i from 1 through $grids {
	.gtr-#{$i}{ grid-template-rows: repeat($i, 1fr); }
	.gtc-#{$i}{ grid-template-columns: repeat($i, 1fr); }	
}

//合并单元格的顺序与个数
@for $i from 1 through $grids {
	.grs-#{$i}{ grid-row-start: $i ;}
	.gre-#{$i}{ grid-row-end: span $i ;}	
	.gcs-#{$i}{ grid-column-start: $i ;}
	.gce-#{$i}{ grid-column-end: span $i ;}		
}

//单元格的行列间距
@for $i from 0 through $gap {
	.grg-#{$i}{ grid-row-gap: $i + px;}
	.gcg-#{$i}{ grid-column-gap: $i + px;}
	.gg-#{$i}{ grid-gap: $i + px;}
}

//单元格的轴线
$gaf: (row:row, column:column, dense:dense, row-dense:row dense, column-dense: column dense);
	@each $val, $direction in $gaf {		
	.gaf-#{$val}{ grid-auto-flow: $direction;}	
}