.fz0{font-size: 0;}
.fz16{font-size: .16rem;}
.fz20{font-size: .2rem;}
.fz24{font-size: .24rem;}
.fz30{font-size: .3rem;}
.fz40{font-size: .4rem;}
.fz50{font-size: .5rem;}
.fz100{font-size:1rem;}
.mt100{margin-top: 1rem;}
.mb100{margin-bottom: 1rem;}
.mr100{margin-right: 1rem;}
.mt30{margin-top: .3rem;}
.mb30{margin-bottom: .3rem;}
.mb40{margin-bottom: .4rem;}
.mt10{margin-top: .1rem;}
.mt20{margin-top: .2rem;}
.mb20{margin-bottom: .2rem;}
.mb30{margin-bottom: .3rem;}
.bdrs10{border-radius: .1rem;}
.lh64{line-height: .64rem;}
.lh40{line-height: .4rem;}
.lh30{line-height: .3rem;}
.lh100{line-height: 1rem;}
.lh220{line-height: 2.2rem;}
.w250{width: 2.5rem;}
.h100{height: 1rem;}
.h150{height: 1.5rem;}
.h300{height: 3rem;}
.h500{height: 5rem;}	
.pl10{padding-left: .1rem;}
.pr10{padding-right: .1rem;}
.pl15{padding-left: .15rem;}
.pr15{padding-right: .15rem;}
.p10{padding: .1rem;}	
.p20{padding: .2rem;}	
.pb20{padding-bottom: .2rem;}
.pb10{padding-bottom: .1rem;}

#nav .container {  padding-right: 0.08rem; padding-left: 0.08rem; }
#nav .row { margin-left: -0.08rem; margin-right: -0.08rem; }
#nav [class*="grow-"] { padding-right: 0.08rem; padding-left: 0.08rem; }

#emimg,#emmet,#flexboxgrid,#color,#animate{height: .6rem;}
#nav {position: static; width: 100%;}
.current a{background: #1c7cd6;}
@media only screen and (min-width: 751px) {
	.fz-sm-16{font-size: .16rem;}
	.fz-sm-20{font-size: .2rem;}
	#emimg,#emmet,#flexboxgrid,#color,#animate{height: .5rem;}
}
	
/*摇晃*/
.shaking{
	-webkit-animation:shaking 3s ease-in-out 0s infinite;
	        animation:shaking 3s ease-in-out 0s infinite;
	-webkit-transform-origin:50% 50%;
	        transform-origin:50% 50%;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
	-webkit-transition-property:color,background-color;
	transition-property:color,background-color;
	-webkit-transition-duration:.5s;
	        transition-duration:.5s;
	-webkit-transition-timing-function:ease-in;
	        transition-timing-function:ease-in;
	}
.shaking:hover{ color: #fff; background-color: #1c7cd6;}
@-webkit-keyframes shaking{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}5%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}
	10%{-webkit-transform:rotate(-9deg);transform:rotate(-9deg)}
	15%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}
	20%{-webkit-transform:rotate(-7deg);transform:rotate(-7deg)}
	25%{-webkit-transform:rotate(6deg);transform:rotate(6deg)}
	30%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}
	35%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}
	40%{-webkit-transform:rotate(-3deg);transform:rotate(-3deg)}
	45%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}
	50%{-webkit-transform:rotate(0);transform:rotate(0)}
	100%{-webkit-transform:rotate(0);transform:rotate(0)}
}
@keyframes shaking{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}5%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}
	10%{-webkit-transform:rotate(-9deg);transform:rotate(-9deg)}
	15%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}
	20%{-webkit-transform:rotate(-7deg);transform:rotate(-7deg)}
	25%{-webkit-transform:rotate(6deg);transform:rotate(6deg)}
	30%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}
	35%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}
	40%{-webkit-transform:rotate(-3deg);transform:rotate(-3deg)}
	45%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}
	50%{-webkit-transform:rotate(0);transform:rotate(0)}
	100%{-webkit-transform:rotate(0);transform:rotate(0)}
}

/*路径*/
.ljrq{	
	width: 1rem;
	height: 1rem;
	position: relative;	
	margin: 1rem auto;
	transform-origin: center center;
	-webkit-animation: ljanxz 5s infinite linear;
	        animation: ljanxz 5s infinite linear;
}
.ljrq div{	
	width: 1rem; 
	height: 1rem; 
	position: absolute;	
	border-radius: 50%;
}
.ljrqd1{-webkit-transform: rotateZ(0deg) translateX(1rem); transform: rotateZ(0deg) translateX(1rem)}
.ljrqd2{-webkit-transform: rotateZ(72deg) translateX(1rem); transform: rotateZ(72deg) translateX(1rem)}
.ljrqd3{-webkit-transform: rotateZ(144deg) translateX(1rem); transform: rotateZ(144deg) translateX(1rem)}
.ljrqd4{-webkit-transform: rotateZ(216deg) translateX(1rem); transform: rotateZ(216deg) translateX(1rem)}
.ljrqd5{-webkit-transform: rotateZ(288deg) translateX(1rem); transform: rotateZ(288deg) translateX(1rem)}

@-webkit-keyframes ljanxz {
	0% {-webkit-transform: rotateZ(0);transform: rotateZ(0);}
	100% {-webkit-transform: rotateZ(360deg);transform: rotateZ(360deg); }
}
	
@keyframes ljanxz {
	0% {-webkit-transform: rotateZ(0);transform: rotateZ(0);}
	100% {-webkit-transform: rotateZ(360deg);transform: rotateZ(360deg); }
}


/*圆圈*/
.per{		
	-webkit-perspective: 800px;		
	        perspective: 800px;		
	-webkit-perspective-origin: top center;		
	        perspective-origin: top center;
	height: 3rem; 
	text-align: center;
}
.rq{		
	-webkit-transform-style: preserve-3d;		
	        transform-style: preserve-3d;
	margin-top: 1rem;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	position: relative;
	-webkit-animation: anxz 5s infinite linear;
	        animation: anxz 5s infinite linear;
}
.rq div{	
	-webkit-backface-visibility:visible;	
	        backface-visibility:visible;
	width: 1rem; 
	height: 1rem; 
	position: absolute;			
}
.rqd1{-webkit-transform: rotateY(0deg) translateZ(1.95839rem);transform: rotateY(0deg) translateZ(1.95839rem)}
.rqd2{-webkit-transform: rotateY(40deg) translateZ(1.95839rem);transform: rotateY(40deg) translateZ(1.95839rem)}
.rqd3{-webkit-transform: rotateY(80deg) translateZ(1.95839rem);transform: rotateY(80deg) translateZ(1.95839rem)}
.rqd4{-webkit-transform: rotateY(120deg) translateZ(1.95839rem);transform: rotateY(120deg) translateZ(1.95839rem)}
.rqd5{-webkit-transform: rotateY(160deg) translateZ(1.95839rem);transform: rotateY(160deg) translateZ(1.95839rem)}
.rqd6{-webkit-transform: rotateY(200deg) translateZ(1.95839rem);transform: rotateY(200deg) translateZ(1.95839rem)}
.rqd7{-webkit-transform: rotateY(240deg) translateZ(1.95839rem);transform: rotateY(240deg) translateZ(1.95839rem)}
.rqd8{-webkit-transform: rotateY(280deg) translateZ(1.95839rem);transform: rotateY(280deg) translateZ(1.95839rem)}
.rqd9{-webkit-transform: rotateY(320deg) translateZ(1.95839rem);transform: rotateY(320deg) translateZ(1.95839rem)}


/*盒子*/
.per2{
	-webkit-perspective: 500px;
	        perspective: 500px;
	-webkit-perspective-origin: 50% -5%;
	        perspective-origin: 50% -5%;
	height: 3rem; 
}
.he{
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;	
	-webkit-transform-origin: center center;	
	        transform-origin: center center;
	position: relative;
	left: 50%;
	top:50%;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: -0.75rem;
	margin-top:-0.75rem;		
	-webkit-animation: anxz 5s infinite linear;		
	        animation: anxz 5s infinite linear;
}
.he div{
	-webkit-backface-visibility:visible;
	        backface-visibility:visible;		
	background:rgba(28, 124, 214,0.1);
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	text-align: center;
	line-height: 1.5rem;
	border: 1px solid #4dadf7;
}
	
.before{-webkit-transform: translateZ(.75rem);transform: translateZ(.75rem);}
.after{-webkit-transform: rotateY(180deg) translateZ(.75rem);transform: rotateY(180deg) translateZ(.75rem);}
.right{-webkit-transform: rotateY(90deg) translateZ(.75rem);transform: rotateY(90deg) translateZ(.75rem);}
.left{-webkit-transform: rotateY(-90deg) translateZ(.75rem);transform: rotateY(-90deg) translateZ(.75rem);}
.top{-webkit-transform: rotateX(90deg) translateZ(.75rem);transform: rotateX(90deg) translateZ(.75rem);}
.bottom{ -webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0px, 0px, .75rem) scale3d(1,1,1); transform: rotate3d(1,0,0,-90deg) translate3d(0px, 0px, .75rem) scale3d(1,1,1);}
	
@-webkit-keyframes anxz {
	0% {-webkit-transform: rotateY(0);transform: rotateY(0);}
	100% {-webkit-transform: rotateY(360deg);transform: rotateY(360deg); }
}
	
@keyframes anxz {
	0% {-webkit-transform: rotateY(0);transform: rotateY(0);}
	100% {-webkit-transform: rotateY(360deg);transform: rotateY(360deg); }
}





























