.c-white-0 { color: #fff; }
.c-black-0 { color: #000; }
.c-gray-0 { color: #f8f9fa; }
.c-gray-1 { color: #f1f3f5; }
.c-gray-2 { color: #e9ecef; }
.c-gray-3 { color: #dee2e6; }
.c-gray-4 { color: #ced4da; }
.c-gray-5 { color: #adb5bd; }
.c-gray-6 { color: #868e96; }
.c-gray-7 { color: #495057; }
.c-gray-8 { color: #343a40; }
.c-gray-9 { color: #212529; }
.c-red-0 { color: #fff5f5; }
.c-red-1 { color: #ffe3e3; }
.c-red-2 { color: #ffc9c9; }
.c-red-3 { color: #ffa8a8; }
.c-red-4 { color: #ff8787; }
.c-red-5 { color: #ff6b6b; }
.c-red-6 { color: #fa5252; }
.c-red-7 { color: #f03e3e; }
.c-red-8 { color: #e03131; }
.c-red-9 { color: #c92a2a; }
.c-pink-0 { color: #fff0f6; }
.c-pink-1 { color: #ffdeeb; }
.c-pink-2 { color: #fcc2d7; }
.c-pink-3 { color: #faa2c1; }
.c-pink-4 { color: #f783ac; }
.c-pink-5 { color: #f06595; }
.c-pink-6 { color: #e64980; }
.c-pink-7 { color: #d6336c; }
.c-pink-8 { color: #c2255c; }
.c-pink-9 { color: #a61e4d; }
.c-grape-0 { color: #f8f0fc; }
.c-grape-1 { color: #f3d9fa; }
.c-grape-2 { color: #eebefa; }
.c-grape-3 { color: #e599f7; }
.c-grape-4 { color: #da77f2; }
.c-grape-5 { color: #cc5de8; }
.c-grape-6 { color: #be4bdb; }
.c-grape-7 { color: #ae3ec9; }
.c-grape-8 { color: #9c36b5; }
.c-grape-9 { color: #862e9c; }
.c-violet-0 { color: #f3f0ff; }
.c-violet-1 { color: #e5dbff; }
.c-violet-2 { color: #d0bfff; }
.c-violet-3 { color: #b197fc; }
.c-violet-4 { color: #9775fa; }
.c-violet-5 { color: #845ef7; }
.c-violet-6 { color: #7950f2; }
.c-violet-7 { color: #7048e8; }
.c-violet-8 { color: #6741d9; }
.c-violet-9 { color: #5f3dc4; }
.c-indigo-0 { color: #edf2ff; }
.c-indigo-1 { color: #dbe4ff; }
.c-indigo-2 { color: #bac8ff; }
.c-indigo-3 { color: #91a7ff; }
.c-indigo-4 { color: #748ffc; }
.c-indigo-5 { color: #5c7cfa; }
.c-indigo-6 { color: #4c6ef5; }
.c-indigo-7 { color: #4263eb; }
.c-indigo-8 { color: #3b5bdb; }
.c-indigo-9 { color: #364fc7; }
.c-blue-0 { color: #e8f7ff; }
.c-blue-1 { color: #ccedff; }
.c-blue-2 { color: #a3daff; }
.c-blue-3 { color: #72c3fc; }
.c-blue-4 { color: #4dadf7; }
.c-blue-5 { color: #329af0; }
.c-blue-6 { color: #228ae6; }
.c-blue-7 { color: #1c7cd6; }
.c-blue-8 { color: #1b6ec2; }
.c-blue-9 { color: #1862ab; }
.c-cyan-0 { color: #e3fafc; }
.c-cyan-1 { color: #c5f6fa; }
.c-cyan-2 { color: #99e9f2; }
.c-cyan-3 { color: #66d9e8; }
.c-cyan-4 { color: #3bc9db; }
.c-cyan-5 { color: #22b8cf; }
.c-cyan-6 { color: #15aabf; }
.c-cyan-7 { color: #1098ad; }
.c-cyan-8 { color: #0c8599; }
.c-cyan-9 { color: #0b7285; }
.c-teal-0 { color: #e6fcf5; }
.c-teal-1 { color: #c3fae8; }
.c-teal-2 { color: #96f2d7; }
.c-teal-3 { color: #63e6be; }
.c-teal-4 { color: #38d9a9; }
.c-teal-5 { color: #20c997; }
.c-teal-6 { color: #12b886; }
.c-teal-7 { color: #0ca678; }
.c-teal-8 { color: #099268; }
.c-teal-9 { color: #087f5b; }
.c-green-0 { color: #ebfbee; }
.c-green-1 { color: #d3f9d8; }
.c-green-2 { color: #b2f2bb; }
.c-green-3 { color: #8ce99a; }
.c-green-4 { color: #69db7c; }
.c-green-5 { color: #51cf66; }
.c-green-6 { color: #40c057; }
.c-green-7 { color: #37b24d; }
.c-green-8 { color: #2f9e44; }
.c-green-9 { color: #2b8a3e; }
.c-lime-0 { color: #f4fce3; }
.c-lime-1 { color: #e9fac8; }
.c-lime-2 { color: #d8f5a2; }
.c-lime-3 { color: #c0eb75; }
.c-lime-4 { color: #a9e34b; }
.c-lime-5 { color: #94d82d; }
.c-lime-6 { color: #82c91e; }
.c-lime-7 { color: #74b816; }
.c-lime-8 { color: #66a80f; }
.c-lime-9 { color: #5c940d; }
.c-yellow-0 { color: #fff9db; }
.c-yellow-1 { color: #fff3bf; }
.c-yellow-2 { color: #ffec99; }
.c-yellow-3 { color: #ffe066; }
.c-yellow-4 { color: #ffd43b; }
.c-yellow-5 { color: #fcc419; }
.c-yellow-6 { color: #fab005; }
.c-yellow-7 { color: #f59f00; }
.c-yellow-8 { color: #f08c00; }
.c-yellow-9 { color: #e67700; }
.c-orange-0 { color: #fff4e6; }
.c-orange-1 { color: #ffe8cc; }
.c-orange-2 { color: #ffd8a8; }
.c-orange-3 { color: #ffc078; }
.c-orange-4 { color: #ffa94d; }
.c-orange-5 { color: #ff922b; }
.c-orange-6 { color: #fd7e14; }
.c-orange-7 { color: #f76707; }
.c-orange-8 { color: #e8590c; }
.c-orange-9 { color: #d9480f; }
.bgc-white-0 { background-color: #fff; }
.bgc-black-0 { background-color: #000; }
.bgc-gray-0 { background-color: #f8f9fa; }
.bgc-gray-1 { background-color: #f1f3f5; }
.bgc-gray-2 { background-color: #e9ecef; }
.bgc-gray-3 { background-color: #dee2e6; }
.bgc-gray-4 { background-color: #ced4da; }
.bgc-gray-5 { background-color: #adb5bd; }
.bgc-gray-6 { background-color: #868e96; }
.bgc-gray-7 { background-color: #495057; }
.bgc-gray-8 { background-color: #343a40; }
.bgc-gray-9 { background-color: #212529; }
.bgc-red-0 { background-color: #fff5f5; }
.bgc-red-1 { background-color: #ffe3e3; }
.bgc-red-2 { background-color: #ffc9c9; }
.bgc-red-3 { background-color: #ffa8a8; }
.bgc-red-4 { background-color: #ff8787; }
.bgc-red-5 { background-color: #ff6b6b; }
.bgc-red-6 { background-color: #fa5252; }
.bgc-red-7 { background-color: #f03e3e; }
.bgc-red-8 { background-color: #e03131; }
.bgc-red-9 { background-color: #c92a2a; }
.bgc-pink-0 { background-color: #fff0f6; }
.bgc-pink-1 { background-color: #ffdeeb; }
.bgc-pink-2 { background-color: #fcc2d7; }
.bgc-pink-3 { background-color: #faa2c1; }
.bgc-pink-4 { background-color: #f783ac; }
.bgc-pink-5 { background-color: #f06595; }
.bgc-pink-6 { background-color: #e64980; }
.bgc-pink-7 { background-color: #d6336c; }
.bgc-pink-8 { background-color: #c2255c; }
.bgc-pink-9 { background-color: #a61e4d; }
.bgc-grape-0 { background-color: #f8f0fc; }
.bgc-grape-1 { background-color: #f3d9fa; }
.bgc-grape-2 { background-color: #eebefa; }
.bgc-grape-3 { background-color: #e599f7; }
.bgc-grape-4 { background-color: #da77f2; }
.bgc-grape-5 { background-color: #cc5de8; }
.bgc-grape-6 { background-color: #be4bdb; }
.bgc-grape-7 { background-color: #ae3ec9; }
.bgc-grape-8 { background-color: #9c36b5; }
.bgc-grape-9 { background-color: #862e9c; }
.bgc-violet-0 { background-color: #f3f0ff; }
.bgc-violet-1 { background-color: #e5dbff; }
.bgc-violet-2 { background-color: #d0bfff; }
.bgc-violet-3 { background-color: #b197fc; }
.bgc-violet-4 { background-color: #9775fa; }
.bgc-violet-5 { background-color: #845ef7; }
.bgc-violet-6 { background-color: #7950f2; }
.bgc-violet-7 { background-color: #7048e8; }
.bgc-violet-8 { background-color: #6741d9; }
.bgc-violet-9 { background-color: #5f3dc4; }
.bgc-indigo-0 { background-color: #edf2ff; }
.bgc-indigo-1 { background-color: #dbe4ff; }
.bgc-indigo-2 { background-color: #bac8ff; }
.bgc-indigo-3 { background-color: #91a7ff; }
.bgc-indigo-4 { background-color: #748ffc; }
.bgc-indigo-5 { background-color: #5c7cfa; }
.bgc-indigo-6 { background-color: #4c6ef5; }
.bgc-indigo-7 { background-color: #4263eb; }
.bgc-indigo-8 { background-color: #3b5bdb; }
.bgc-indigo-9 { background-color: #364fc7; }
.bgc-blue-0 { background-color: #e8f7ff; }
.bgc-blue-1 { background-color: #ccedff; }
.bgc-blue-2 { background-color: #a3daff; }
.bgc-blue-3 { background-color: #72c3fc; }
.bgc-blue-4 { background-color: #4dadf7; }
.bgc-blue-5 { background-color: #329af0; }
.bgc-blue-6 { background-color: #228ae6; }
.bgc-blue-7 { background-color: #1c7cd6; }
.bgc-blue-8 { background-color: #1b6ec2; }
.bgc-blue-9 { background-color: #1862ab; }
.bgc-cyan-0 { background-color: #e3fafc; }
.bgc-cyan-1 { background-color: #c5f6fa; }
.bgc-cyan-2 { background-color: #99e9f2; }
.bgc-cyan-3 { background-color: #66d9e8; }
.bgc-cyan-4 { background-color: #3bc9db; }
.bgc-cyan-5 { background-color: #22b8cf; }
.bgc-cyan-6 { background-color: #15aabf; }
.bgc-cyan-7 { background-color: #1098ad; }
.bgc-cyan-8 { background-color: #0c8599; }
.bgc-cyan-9 { background-color: #0b7285; }
.bgc-teal-0 { background-color: #e6fcf5; }
.bgc-teal-1 { background-color: #c3fae8; }
.bgc-teal-2 { background-color: #96f2d7; }
.bgc-teal-3 { background-color: #63e6be; }
.bgc-teal-4 { background-color: #38d9a9; }
.bgc-teal-5 { background-color: #20c997; }
.bgc-teal-6 { background-color: #12b886; }
.bgc-teal-7 { background-color: #0ca678; }
.bgc-teal-8 { background-color: #099268; }
.bgc-teal-9 { background-color: #087f5b; }
.bgc-green-0 { background-color: #ebfbee; }
.bgc-green-1 { background-color: #d3f9d8; }
.bgc-green-2 { background-color: #b2f2bb; }
.bgc-green-3 { background-color: #8ce99a; }
.bgc-green-4 { background-color: #69db7c; }
.bgc-green-5 { background-color: #51cf66; }
.bgc-green-6 { background-color: #40c057; }
.bgc-green-7 { background-color: #37b24d; }
.bgc-green-8 { background-color: #2f9e44; }
.bgc-green-9 { background-color: #2b8a3e; }
.bgc-lime-0 { background-color: #f4fce3; }
.bgc-lime-1 { background-color: #e9fac8; }
.bgc-lime-2 { background-color: #d8f5a2; }
.bgc-lime-3 { background-color: #c0eb75; }
.bgc-lime-4 { background-color: #a9e34b; }
.bgc-lime-5 { background-color: #94d82d; }
.bgc-lime-6 { background-color: #82c91e; }
.bgc-lime-7 { background-color: #74b816; }
.bgc-lime-8 { background-color: #66a80f; }
.bgc-lime-9 { background-color: #5c940d; }
.bgc-yellow-0 { background-color: #fff9db; }
.bgc-yellow-1 { background-color: #fff3bf; }
.bgc-yellow-2 { background-color: #ffec99; }
.bgc-yellow-3 { background-color: #ffe066; }
.bgc-yellow-4 { background-color: #ffd43b; }
.bgc-yellow-5 { background-color: #fcc419; }
.bgc-yellow-6 { background-color: #fab005; }
.bgc-yellow-7 { background-color: #f59f00; }
.bgc-yellow-8 { background-color: #f08c00; }
.bgc-yellow-9 { background-color: #e67700; }
.bgc-orange-0 { background-color: #fff4e6; }
.bgc-orange-1 { background-color: #ffe8cc; }
.bgc-orange-2 { background-color: #ffd8a8; }
.bgc-orange-3 { background-color: #ffc078; }
.bgc-orange-4 { background-color: #ffa94d; }
.bgc-orange-5 { background-color: #ff922b; }
.bgc-orange-6 { background-color: #fd7e14; }
.bgc-orange-7 { background-color: #f76707; }
.bgc-orange-8 { background-color: #e8590c; }
.bgc-orange-9 { background-color: #d9480f; }
.olc-white-0 { outline-color: #fff; }
.olc-black-0 { outline-color: #000; }
.olc-gray-0 { outline-color: #f8f9fa; }
.olc-gray-1 { outline-color: #f1f3f5; }
.olc-gray-2 { outline-color: #e9ecef; }
.olc-gray-3 { outline-color: #dee2e6; }
.olc-gray-4 { outline-color: #ced4da; }
.olc-gray-5 { outline-color: #adb5bd; }
.olc-gray-6 { outline-color: #868e96; }
.olc-gray-7 { outline-color: #495057; }
.olc-gray-8 { outline-color: #343a40; }
.olc-gray-9 { outline-color: #212529; }
.olc-red-0 { outline-color: #fff5f5; }
.olc-red-1 { outline-color: #ffe3e3; }
.olc-red-2 { outline-color: #ffc9c9; }
.olc-red-3 { outline-color: #ffa8a8; }
.olc-red-4 { outline-color: #ff8787; }
.olc-red-5 { outline-color: #ff6b6b; }
.olc-red-6 { outline-color: #fa5252; }
.olc-red-7 { outline-color: #f03e3e; }
.olc-red-8 { outline-color: #e03131; }
.olc-red-9 { outline-color: #c92a2a; }
.olc-pink-0 { outline-color: #fff0f6; }
.olc-pink-1 { outline-color: #ffdeeb; }
.olc-pink-2 { outline-color: #fcc2d7; }
.olc-pink-3 { outline-color: #faa2c1; }
.olc-pink-4 { outline-color: #f783ac; }
.olc-pink-5 { outline-color: #f06595; }
.olc-pink-6 { outline-color: #e64980; }
.olc-pink-7 { outline-color: #d6336c; }
.olc-pink-8 { outline-color: #c2255c; }
.olc-pink-9 { outline-color: #a61e4d; }
.olc-grape-0 { outline-color: #f8f0fc; }
.olc-grape-1 { outline-color: #f3d9fa; }
.olc-grape-2 { outline-color: #eebefa; }
.olc-grape-3 { outline-color: #e599f7; }
.olc-grape-4 { outline-color: #da77f2; }
.olc-grape-5 { outline-color: #cc5de8; }
.olc-grape-6 { outline-color: #be4bdb; }
.olc-grape-7 { outline-color: #ae3ec9; }
.olc-grape-8 { outline-color: #9c36b5; }
.olc-grape-9 { outline-color: #862e9c; }
.olc-violet-0 { outline-color: #f3f0ff; }
.olc-violet-1 { outline-color: #e5dbff; }
.olc-violet-2 { outline-color: #d0bfff; }
.olc-violet-3 { outline-color: #b197fc; }
.olc-violet-4 { outline-color: #9775fa; }
.olc-violet-5 { outline-color: #845ef7; }
.olc-violet-6 { outline-color: #7950f2; }
.olc-violet-7 { outline-color: #7048e8; }
.olc-violet-8 { outline-color: #6741d9; }
.olc-violet-9 { outline-color: #5f3dc4; }
.olc-indigo-0 { outline-color: #edf2ff; }
.olc-indigo-1 { outline-color: #dbe4ff; }
.olc-indigo-2 { outline-color: #bac8ff; }
.olc-indigo-3 { outline-color: #91a7ff; }
.olc-indigo-4 { outline-color: #748ffc; }
.olc-indigo-5 { outline-color: #5c7cfa; }
.olc-indigo-6 { outline-color: #4c6ef5; }
.olc-indigo-7 { outline-color: #4263eb; }
.olc-indigo-8 { outline-color: #3b5bdb; }
.olc-indigo-9 { outline-color: #364fc7; }
.olc-blue-0 { outline-color: #e8f7ff; }
.olc-blue-1 { outline-color: #ccedff; }
.olc-blue-2 { outline-color: #a3daff; }
.olc-blue-3 { outline-color: #72c3fc; }
.olc-blue-4 { outline-color: #4dadf7; }
.olc-blue-5 { outline-color: #329af0; }
.olc-blue-6 { outline-color: #228ae6; }
.olc-blue-7 { outline-color: #1c7cd6; }
.olc-blue-8 { outline-color: #1b6ec2; }
.olc-blue-9 { outline-color: #1862ab; }
.olc-cyan-0 { outline-color: #e3fafc; }
.olc-cyan-1 { outline-color: #c5f6fa; }
.olc-cyan-2 { outline-color: #99e9f2; }
.olc-cyan-3 { outline-color: #66d9e8; }
.olc-cyan-4 { outline-color: #3bc9db; }
.olc-cyan-5 { outline-color: #22b8cf; }
.olc-cyan-6 { outline-color: #15aabf; }
.olc-cyan-7 { outline-color: #1098ad; }
.olc-cyan-8 { outline-color: #0c8599; }
.olc-cyan-9 { outline-color: #0b7285; }
.olc-teal-0 { outline-color: #e6fcf5; }
.olc-teal-1 { outline-color: #c3fae8; }
.olc-teal-2 { outline-color: #96f2d7; }
.olc-teal-3 { outline-color: #63e6be; }
.olc-teal-4 { outline-color: #38d9a9; }
.olc-teal-5 { outline-color: #20c997; }
.olc-teal-6 { outline-color: #12b886; }
.olc-teal-7 { outline-color: #0ca678; }
.olc-teal-8 { outline-color: #099268; }
.olc-teal-9 { outline-color: #087f5b; }
.olc-green-0 { outline-color: #ebfbee; }
.olc-green-1 { outline-color: #d3f9d8; }
.olc-green-2 { outline-color: #b2f2bb; }
.olc-green-3 { outline-color: #8ce99a; }
.olc-green-4 { outline-color: #69db7c; }
.olc-green-5 { outline-color: #51cf66; }
.olc-green-6 { outline-color: #40c057; }
.olc-green-7 { outline-color: #37b24d; }
.olc-green-8 { outline-color: #2f9e44; }
.olc-green-9 { outline-color: #2b8a3e; }
.olc-lime-0 { outline-color: #f4fce3; }
.olc-lime-1 { outline-color: #e9fac8; }
.olc-lime-2 { outline-color: #d8f5a2; }
.olc-lime-3 { outline-color: #c0eb75; }
.olc-lime-4 { outline-color: #a9e34b; }
.olc-lime-5 { outline-color: #94d82d; }
.olc-lime-6 { outline-color: #82c91e; }
.olc-lime-7 { outline-color: #74b816; }
.olc-lime-8 { outline-color: #66a80f; }
.olc-lime-9 { outline-color: #5c940d; }
.olc-yellow-0 { outline-color: #fff9db; }
.olc-yellow-1 { outline-color: #fff3bf; }
.olc-yellow-2 { outline-color: #ffec99; }
.olc-yellow-3 { outline-color: #ffe066; }
.olc-yellow-4 { outline-color: #ffd43b; }
.olc-yellow-5 { outline-color: #fcc419; }
.olc-yellow-6 { outline-color: #fab005; }
.olc-yellow-7 { outline-color: #f59f00; }
.olc-yellow-8 { outline-color: #f08c00; }
.olc-yellow-9 { outline-color: #e67700; }
.olc-orange-0 { outline-color: #fff4e6; }
.olc-orange-1 { outline-color: #ffe8cc; }
.olc-orange-2 { outline-color: #ffd8a8; }
.olc-orange-3 { outline-color: #ffc078; }
.olc-orange-4 { outline-color: #ffa94d; }
.olc-orange-5 { outline-color: #ff922b; }
.olc-orange-6 { outline-color: #fd7e14; }
.olc-orange-7 { outline-color: #f76707; }
.olc-orange-8 { outline-color: #e8590c; }
.olc-orange-9 { outline-color: #d9480f; }
.bdc-white-0 { border-color: #fff; }
.bdc-black-0 { border-color: #000; }
.bdc-gray-0 { border-color: #f8f9fa; }
.bdc-gray-1 { border-color: #f1f3f5; }
.bdc-gray-2 { border-color: #e9ecef; }
.bdc-gray-3 { border-color: #dee2e6; }
.bdc-gray-4 { border-color: #ced4da; }
.bdc-gray-5 { border-color: #adb5bd; }
.bdc-gray-6 { border-color: #868e96; }
.bdc-gray-7 { border-color: #495057; }
.bdc-gray-8 { border-color: #343a40; }
.bdc-gray-9 { border-color: #212529; }
.bdc-red-0 { border-color: #fff5f5; }
.bdc-red-1 { border-color: #ffe3e3; }
.bdc-red-2 { border-color: #ffc9c9; }
.bdc-red-3 { border-color: #ffa8a8; }
.bdc-red-4 { border-color: #ff8787; }
.bdc-red-5 { border-color: #ff6b6b; }
.bdc-red-6 { border-color: #fa5252; }
.bdc-red-7 { border-color: #f03e3e; }
.bdc-red-8 { border-color: #e03131; }
.bdc-red-9 { border-color: #c92a2a; }
.bdc-pink-0 { border-color: #fff0f6; }
.bdc-pink-1 { border-color: #ffdeeb; }
.bdc-pink-2 { border-color: #fcc2d7; }
.bdc-pink-3 { border-color: #faa2c1; }
.bdc-pink-4 { border-color: #f783ac; }
.bdc-pink-5 { border-color: #f06595; }
.bdc-pink-6 { border-color: #e64980; }
.bdc-pink-7 { border-color: #d6336c; }
.bdc-pink-8 { border-color: #c2255c; }
.bdc-pink-9 { border-color: #a61e4d; }
.bdc-grape-0 { border-color: #f8f0fc; }
.bdc-grape-1 { border-color: #f3d9fa; }
.bdc-grape-2 { border-color: #eebefa; }
.bdc-grape-3 { border-color: #e599f7; }
.bdc-grape-4 { border-color: #da77f2; }
.bdc-grape-5 { border-color: #cc5de8; }
.bdc-grape-6 { border-color: #be4bdb; }
.bdc-grape-7 { border-color: #ae3ec9; }
.bdc-grape-8 { border-color: #9c36b5; }
.bdc-grape-9 { border-color: #862e9c; }
.bdc-violet-0 { border-color: #f3f0ff; }
.bdc-violet-1 { border-color: #e5dbff; }
.bdc-violet-2 { border-color: #d0bfff; }
.bdc-violet-3 { border-color: #b197fc; }
.bdc-violet-4 { border-color: #9775fa; }
.bdc-violet-5 { border-color: #845ef7; }
.bdc-violet-6 { border-color: #7950f2; }
.bdc-violet-7 { border-color: #7048e8; }
.bdc-violet-8 { border-color: #6741d9; }
.bdc-violet-9 { border-color: #5f3dc4; }
.bdc-indigo-0 { border-color: #edf2ff; }
.bdc-indigo-1 { border-color: #dbe4ff; }
.bdc-indigo-2 { border-color: #bac8ff; }
.bdc-indigo-3 { border-color: #91a7ff; }
.bdc-indigo-4 { border-color: #748ffc; }
.bdc-indigo-5 { border-color: #5c7cfa; }
.bdc-indigo-6 { border-color: #4c6ef5; }
.bdc-indigo-7 { border-color: #4263eb; }
.bdc-indigo-8 { border-color: #3b5bdb; }
.bdc-indigo-9 { border-color: #364fc7; }
.bdc-blue-0 { border-color: #e8f7ff; }
.bdc-blue-1 { border-color: #ccedff; }
.bdc-blue-2 { border-color: #a3daff; }
.bdc-blue-3 { border-color: #72c3fc; }
.bdc-blue-4 { border-color: #4dadf7; }
.bdc-blue-5 { border-color: #329af0; }
.bdc-blue-6 { border-color: #228ae6; }
.bdc-blue-7 { border-color: #1c7cd6; }
.bdc-blue-8 { border-color: #1b6ec2; }
.bdc-blue-9 { border-color: #1862ab; }
.bdc-cyan-0 { border-color: #e3fafc; }
.bdc-cyan-1 { border-color: #c5f6fa; }
.bdc-cyan-2 { border-color: #99e9f2; }
.bdc-cyan-3 { border-color: #66d9e8; }
.bdc-cyan-4 { border-color: #3bc9db; }
.bdc-cyan-5 { border-color: #22b8cf; }
.bdc-cyan-6 { border-color: #15aabf; }
.bdc-cyan-7 { border-color: #1098ad; }
.bdc-cyan-8 { border-color: #0c8599; }
.bdc-cyan-9 { border-color: #0b7285; }
.bdc-teal-0 { border-color: #e6fcf5; }
.bdc-teal-1 { border-color: #c3fae8; }
.bdc-teal-2 { border-color: #96f2d7; }
.bdc-teal-3 { border-color: #63e6be; }
.bdc-teal-4 { border-color: #38d9a9; }
.bdc-teal-5 { border-color: #20c997; }
.bdc-teal-6 { border-color: #12b886; }
.bdc-teal-7 { border-color: #0ca678; }
.bdc-teal-8 { border-color: #099268; }
.bdc-teal-9 { border-color: #087f5b; }
.bdc-green-0 { border-color: #ebfbee; }
.bdc-green-1 { border-color: #d3f9d8; }
.bdc-green-2 { border-color: #b2f2bb; }
.bdc-green-3 { border-color: #8ce99a; }
.bdc-green-4 { border-color: #69db7c; }
.bdc-green-5 { border-color: #51cf66; }
.bdc-green-6 { border-color: #40c057; }
.bdc-green-7 { border-color: #37b24d; }
.bdc-green-8 { border-color: #2f9e44; }
.bdc-green-9 { border-color: #2b8a3e; }
.bdc-lime-0 { border-color: #f4fce3; }
.bdc-lime-1 { border-color: #e9fac8; }
.bdc-lime-2 { border-color: #d8f5a2; }
.bdc-lime-3 { border-color: #c0eb75; }
.bdc-lime-4 { border-color: #a9e34b; }
.bdc-lime-5 { border-color: #94d82d; }
.bdc-lime-6 { border-color: #82c91e; }
.bdc-lime-7 { border-color: #74b816; }
.bdc-lime-8 { border-color: #66a80f; }
.bdc-lime-9 { border-color: #5c940d; }
.bdc-yellow-0 { border-color: #fff9db; }
.bdc-yellow-1 { border-color: #fff3bf; }
.bdc-yellow-2 { border-color: #ffec99; }
.bdc-yellow-3 { border-color: #ffe066; }
.bdc-yellow-4 { border-color: #ffd43b; }
.bdc-yellow-5 { border-color: #fcc419; }
.bdc-yellow-6 { border-color: #fab005; }
.bdc-yellow-7 { border-color: #f59f00; }
.bdc-yellow-8 { border-color: #f08c00; }
.bdc-yellow-9 { border-color: #e67700; }
.bdc-orange-0 { border-color: #fff4e6; }
.bdc-orange-1 { border-color: #ffe8cc; }
.bdc-orange-2 { border-color: #ffd8a8; }
.bdc-orange-3 { border-color: #ffc078; }
.bdc-orange-4 { border-color: #ffa94d; }
.bdc-orange-5 { border-color: #ff922b; }
.bdc-orange-6 { border-color: #fd7e14; }
.bdc-orange-7 { border-color: #f76707; }
.bdc-orange-8 { border-color: #e8590c; }
.bdc-orange-9 { border-color: #d9480f; }
.bdtc-white-0 { border-top-color: #fff; }
.bdtc-black-0 { border-top-color: #000; }
.bdtc-gray-0 { border-top-color: #f8f9fa; }
.bdtc-gray-1 { border-top-color: #f1f3f5; }
.bdtc-gray-2 { border-top-color: #e9ecef; }
.bdtc-gray-3 { border-top-color: #dee2e6; }
.bdtc-gray-4 { border-top-color: #ced4da; }
.bdtc-gray-5 { border-top-color: #adb5bd; }
.bdtc-gray-6 { border-top-color: #868e96; }
.bdtc-gray-7 { border-top-color: #495057; }
.bdtc-gray-8 { border-top-color: #343a40; }
.bdtc-gray-9 { border-top-color: #212529; }
.bdtc-red-0 { border-top-color: #fff5f5; }
.bdtc-red-1 { border-top-color: #ffe3e3; }
.bdtc-red-2 { border-top-color: #ffc9c9; }
.bdtc-red-3 { border-top-color: #ffa8a8; }
.bdtc-red-4 { border-top-color: #ff8787; }
.bdtc-red-5 { border-top-color: #ff6b6b; }
.bdtc-red-6 { border-top-color: #fa5252; }
.bdtc-red-7 { border-top-color: #f03e3e; }
.bdtc-red-8 { border-top-color: #e03131; }
.bdtc-red-9 { border-top-color: #c92a2a; }
.bdtc-pink-0 { border-top-color: #fff0f6; }
.bdtc-pink-1 { border-top-color: #ffdeeb; }
.bdtc-pink-2 { border-top-color: #fcc2d7; }
.bdtc-pink-3 { border-top-color: #faa2c1; }
.bdtc-pink-4 { border-top-color: #f783ac; }
.bdtc-pink-5 { border-top-color: #f06595; }
.bdtc-pink-6 { border-top-color: #e64980; }
.bdtc-pink-7 { border-top-color: #d6336c; }
.bdtc-pink-8 { border-top-color: #c2255c; }
.bdtc-pink-9 { border-top-color: #a61e4d; }
.bdtc-grape-0 { border-top-color: #f8f0fc; }
.bdtc-grape-1 { border-top-color: #f3d9fa; }
.bdtc-grape-2 { border-top-color: #eebefa; }
.bdtc-grape-3 { border-top-color: #e599f7; }
.bdtc-grape-4 { border-top-color: #da77f2; }
.bdtc-grape-5 { border-top-color: #cc5de8; }
.bdtc-grape-6 { border-top-color: #be4bdb; }
.bdtc-grape-7 { border-top-color: #ae3ec9; }
.bdtc-grape-8 { border-top-color: #9c36b5; }
.bdtc-grape-9 { border-top-color: #862e9c; }
.bdtc-violet-0 { border-top-color: #f3f0ff; }
.bdtc-violet-1 { border-top-color: #e5dbff; }
.bdtc-violet-2 { border-top-color: #d0bfff; }
.bdtc-violet-3 { border-top-color: #b197fc; }
.bdtc-violet-4 { border-top-color: #9775fa; }
.bdtc-violet-5 { border-top-color: #845ef7; }
.bdtc-violet-6 { border-top-color: #7950f2; }
.bdtc-violet-7 { border-top-color: #7048e8; }
.bdtc-violet-8 { border-top-color: #6741d9; }
.bdtc-violet-9 { border-top-color: #5f3dc4; }
.bdtc-indigo-0 { border-top-color: #edf2ff; }
.bdtc-indigo-1 { border-top-color: #dbe4ff; }
.bdtc-indigo-2 { border-top-color: #bac8ff; }
.bdtc-indigo-3 { border-top-color: #91a7ff; }
.bdtc-indigo-4 { border-top-color: #748ffc; }
.bdtc-indigo-5 { border-top-color: #5c7cfa; }
.bdtc-indigo-6 { border-top-color: #4c6ef5; }
.bdtc-indigo-7 { border-top-color: #4263eb; }
.bdtc-indigo-8 { border-top-color: #3b5bdb; }
.bdtc-indigo-9 { border-top-color: #364fc7; }
.bdtc-blue-0 { border-top-color: #e8f7ff; }
.bdtc-blue-1 { border-top-color: #ccedff; }
.bdtc-blue-2 { border-top-color: #a3daff; }
.bdtc-blue-3 { border-top-color: #72c3fc; }
.bdtc-blue-4 { border-top-color: #4dadf7; }
.bdtc-blue-5 { border-top-color: #329af0; }
.bdtc-blue-6 { border-top-color: #228ae6; }
.bdtc-blue-7 { border-top-color: #1c7cd6; }
.bdtc-blue-8 { border-top-color: #1b6ec2; }
.bdtc-blue-9 { border-top-color: #1862ab; }
.bdtc-cyan-0 { border-top-color: #e3fafc; }
.bdtc-cyan-1 { border-top-color: #c5f6fa; }
.bdtc-cyan-2 { border-top-color: #99e9f2; }
.bdtc-cyan-3 { border-top-color: #66d9e8; }
.bdtc-cyan-4 { border-top-color: #3bc9db; }
.bdtc-cyan-5 { border-top-color: #22b8cf; }
.bdtc-cyan-6 { border-top-color: #15aabf; }
.bdtc-cyan-7 { border-top-color: #1098ad; }
.bdtc-cyan-8 { border-top-color: #0c8599; }
.bdtc-cyan-9 { border-top-color: #0b7285; }
.bdtc-teal-0 { border-top-color: #e6fcf5; }
.bdtc-teal-1 { border-top-color: #c3fae8; }
.bdtc-teal-2 { border-top-color: #96f2d7; }
.bdtc-teal-3 { border-top-color: #63e6be; }
.bdtc-teal-4 { border-top-color: #38d9a9; }
.bdtc-teal-5 { border-top-color: #20c997; }
.bdtc-teal-6 { border-top-color: #12b886; }
.bdtc-teal-7 { border-top-color: #0ca678; }
.bdtc-teal-8 { border-top-color: #099268; }
.bdtc-teal-9 { border-top-color: #087f5b; }
.bdtc-green-0 { border-top-color: #ebfbee; }
.bdtc-green-1 { border-top-color: #d3f9d8; }
.bdtc-green-2 { border-top-color: #b2f2bb; }
.bdtc-green-3 { border-top-color: #8ce99a; }
.bdtc-green-4 { border-top-color: #69db7c; }
.bdtc-green-5 { border-top-color: #51cf66; }
.bdtc-green-6 { border-top-color: #40c057; }
.bdtc-green-7 { border-top-color: #37b24d; }
.bdtc-green-8 { border-top-color: #2f9e44; }
.bdtc-green-9 { border-top-color: #2b8a3e; }
.bdtc-lime-0 { border-top-color: #f4fce3; }
.bdtc-lime-1 { border-top-color: #e9fac8; }
.bdtc-lime-2 { border-top-color: #d8f5a2; }
.bdtc-lime-3 { border-top-color: #c0eb75; }
.bdtc-lime-4 { border-top-color: #a9e34b; }
.bdtc-lime-5 { border-top-color: #94d82d; }
.bdtc-lime-6 { border-top-color: #82c91e; }
.bdtc-lime-7 { border-top-color: #74b816; }
.bdtc-lime-8 { border-top-color: #66a80f; }
.bdtc-lime-9 { border-top-color: #5c940d; }
.bdtc-yellow-0 { border-top-color: #fff9db; }
.bdtc-yellow-1 { border-top-color: #fff3bf; }
.bdtc-yellow-2 { border-top-color: #ffec99; }
.bdtc-yellow-3 { border-top-color: #ffe066; }
.bdtc-yellow-4 { border-top-color: #ffd43b; }
.bdtc-yellow-5 { border-top-color: #fcc419; }
.bdtc-yellow-6 { border-top-color: #fab005; }
.bdtc-yellow-7 { border-top-color: #f59f00; }
.bdtc-yellow-8 { border-top-color: #f08c00; }
.bdtc-yellow-9 { border-top-color: #e67700; }
.bdtc-orange-0 { border-top-color: #fff4e6; }
.bdtc-orange-1 { border-top-color: #ffe8cc; }
.bdtc-orange-2 { border-top-color: #ffd8a8; }
.bdtc-orange-3 { border-top-color: #ffc078; }
.bdtc-orange-4 { border-top-color: #ffa94d; }
.bdtc-orange-5 { border-top-color: #ff922b; }
.bdtc-orange-6 { border-top-color: #fd7e14; }
.bdtc-orange-7 { border-top-color: #f76707; }
.bdtc-orange-8 { border-top-color: #e8590c; }
.bdtc-orange-9 { border-top-color: #d9480f; }
.bdrc-white-0 { border-right-color: #fff; }
.bdrc-black-0 { border-right-color: #000; }
.bdrc-gray-0 { border-right-color: #f8f9fa; }
.bdrc-gray-1 { border-right-color: #f1f3f5; }
.bdrc-gray-2 { border-right-color: #e9ecef; }
.bdrc-gray-3 { border-right-color: #dee2e6; }
.bdrc-gray-4 { border-right-color: #ced4da; }
.bdrc-gray-5 { border-right-color: #adb5bd; }
.bdrc-gray-6 { border-right-color: #868e96; }
.bdrc-gray-7 { border-right-color: #495057; }
.bdrc-gray-8 { border-right-color: #343a40; }
.bdrc-gray-9 { border-right-color: #212529; }
.bdrc-red-0 { border-right-color: #fff5f5; }
.bdrc-red-1 { border-right-color: #ffe3e3; }
.bdrc-red-2 { border-right-color: #ffc9c9; }
.bdrc-red-3 { border-right-color: #ffa8a8; }
.bdrc-red-4 { border-right-color: #ff8787; }
.bdrc-red-5 { border-right-color: #ff6b6b; }
.bdrc-red-6 { border-right-color: #fa5252; }
.bdrc-red-7 { border-right-color: #f03e3e; }
.bdrc-red-8 { border-right-color: #e03131; }
.bdrc-red-9 { border-right-color: #c92a2a; }
.bdrc-pink-0 { border-right-color: #fff0f6; }
.bdrc-pink-1 { border-right-color: #ffdeeb; }
.bdrc-pink-2 { border-right-color: #fcc2d7; }
.bdrc-pink-3 { border-right-color: #faa2c1; }
.bdrc-pink-4 { border-right-color: #f783ac; }
.bdrc-pink-5 { border-right-color: #f06595; }
.bdrc-pink-6 { border-right-color: #e64980; }
.bdrc-pink-7 { border-right-color: #d6336c; }
.bdrc-pink-8 { border-right-color: #c2255c; }
.bdrc-pink-9 { border-right-color: #a61e4d; }
.bdrc-grape-0 { border-right-color: #f8f0fc; }
.bdrc-grape-1 { border-right-color: #f3d9fa; }
.bdrc-grape-2 { border-right-color: #eebefa; }
.bdrc-grape-3 { border-right-color: #e599f7; }
.bdrc-grape-4 { border-right-color: #da77f2; }
.bdrc-grape-5 { border-right-color: #cc5de8; }
.bdrc-grape-6 { border-right-color: #be4bdb; }
.bdrc-grape-7 { border-right-color: #ae3ec9; }
.bdrc-grape-8 { border-right-color: #9c36b5; }
.bdrc-grape-9 { border-right-color: #862e9c; }
.bdrc-violet-0 { border-right-color: #f3f0ff; }
.bdrc-violet-1 { border-right-color: #e5dbff; }
.bdrc-violet-2 { border-right-color: #d0bfff; }
.bdrc-violet-3 { border-right-color: #b197fc; }
.bdrc-violet-4 { border-right-color: #9775fa; }
.bdrc-violet-5 { border-right-color: #845ef7; }
.bdrc-violet-6 { border-right-color: #7950f2; }
.bdrc-violet-7 { border-right-color: #7048e8; }
.bdrc-violet-8 { border-right-color: #6741d9; }
.bdrc-violet-9 { border-right-color: #5f3dc4; }
.bdrc-indigo-0 { border-right-color: #edf2ff; }
.bdrc-indigo-1 { border-right-color: #dbe4ff; }
.bdrc-indigo-2 { border-right-color: #bac8ff; }
.bdrc-indigo-3 { border-right-color: #91a7ff; }
.bdrc-indigo-4 { border-right-color: #748ffc; }
.bdrc-indigo-5 { border-right-color: #5c7cfa; }
.bdrc-indigo-6 { border-right-color: #4c6ef5; }
.bdrc-indigo-7 { border-right-color: #4263eb; }
.bdrc-indigo-8 { border-right-color: #3b5bdb; }
.bdrc-indigo-9 { border-right-color: #364fc7; }
.bdrc-blue-0 { border-right-color: #e8f7ff; }
.bdrc-blue-1 { border-right-color: #ccedff; }
.bdrc-blue-2 { border-right-color: #a3daff; }
.bdrc-blue-3 { border-right-color: #72c3fc; }
.bdrc-blue-4 { border-right-color: #4dadf7; }
.bdrc-blue-5 { border-right-color: #329af0; }
.bdrc-blue-6 { border-right-color: #228ae6; }
.bdrc-blue-7 { border-right-color: #1c7cd6; }
.bdrc-blue-8 { border-right-color: #1b6ec2; }
.bdrc-blue-9 { border-right-color: #1862ab; }
.bdrc-cyan-0 { border-right-color: #e3fafc; }
.bdrc-cyan-1 { border-right-color: #c5f6fa; }
.bdrc-cyan-2 { border-right-color: #99e9f2; }
.bdrc-cyan-3 { border-right-color: #66d9e8; }
.bdrc-cyan-4 { border-right-color: #3bc9db; }
.bdrc-cyan-5 { border-right-color: #22b8cf; }
.bdrc-cyan-6 { border-right-color: #15aabf; }
.bdrc-cyan-7 { border-right-color: #1098ad; }
.bdrc-cyan-8 { border-right-color: #0c8599; }
.bdrc-cyan-9 { border-right-color: #0b7285; }
.bdrc-teal-0 { border-right-color: #e6fcf5; }
.bdrc-teal-1 { border-right-color: #c3fae8; }
.bdrc-teal-2 { border-right-color: #96f2d7; }
.bdrc-teal-3 { border-right-color: #63e6be; }
.bdrc-teal-4 { border-right-color: #38d9a9; }
.bdrc-teal-5 { border-right-color: #20c997; }
.bdrc-teal-6 { border-right-color: #12b886; }
.bdrc-teal-7 { border-right-color: #0ca678; }
.bdrc-teal-8 { border-right-color: #099268; }
.bdrc-teal-9 { border-right-color: #087f5b; }
.bdrc-green-0 { border-right-color: #ebfbee; }
.bdrc-green-1 { border-right-color: #d3f9d8; }
.bdrc-green-2 { border-right-color: #b2f2bb; }
.bdrc-green-3 { border-right-color: #8ce99a; }
.bdrc-green-4 { border-right-color: #69db7c; }
.bdrc-green-5 { border-right-color: #51cf66; }
.bdrc-green-6 { border-right-color: #40c057; }
.bdrc-green-7 { border-right-color: #37b24d; }
.bdrc-green-8 { border-right-color: #2f9e44; }
.bdrc-green-9 { border-right-color: #2b8a3e; }
.bdrc-lime-0 { border-right-color: #f4fce3; }
.bdrc-lime-1 { border-right-color: #e9fac8; }
.bdrc-lime-2 { border-right-color: #d8f5a2; }
.bdrc-lime-3 { border-right-color: #c0eb75; }
.bdrc-lime-4 { border-right-color: #a9e34b; }
.bdrc-lime-5 { border-right-color: #94d82d; }
.bdrc-lime-6 { border-right-color: #82c91e; }
.bdrc-lime-7 { border-right-color: #74b816; }
.bdrc-lime-8 { border-right-color: #66a80f; }
.bdrc-lime-9 { border-right-color: #5c940d; }
.bdrc-yellow-0 { border-right-color: #fff9db; }
.bdrc-yellow-1 { border-right-color: #fff3bf; }
.bdrc-yellow-2 { border-right-color: #ffec99; }
.bdrc-yellow-3 { border-right-color: #ffe066; }
.bdrc-yellow-4 { border-right-color: #ffd43b; }
.bdrc-yellow-5 { border-right-color: #fcc419; }
.bdrc-yellow-6 { border-right-color: #fab005; }
.bdrc-yellow-7 { border-right-color: #f59f00; }
.bdrc-yellow-8 { border-right-color: #f08c00; }
.bdrc-yellow-9 { border-right-color: #e67700; }
.bdrc-orange-0 { border-right-color: #fff4e6; }
.bdrc-orange-1 { border-right-color: #ffe8cc; }
.bdrc-orange-2 { border-right-color: #ffd8a8; }
.bdrc-orange-3 { border-right-color: #ffc078; }
.bdrc-orange-4 { border-right-color: #ffa94d; }
.bdrc-orange-5 { border-right-color: #ff922b; }
.bdrc-orange-6 { border-right-color: #fd7e14; }
.bdrc-orange-7 { border-right-color: #f76707; }
.bdrc-orange-8 { border-right-color: #e8590c; }
.bdrc-orange-9 { border-right-color: #d9480f; }
.bdbc-white-0 { border-bottom-color: #fff; }
.bdbc-black-0 { border-bottom-color: #000; }
.bdbc-gray-0 { border-bottom-color: #f8f9fa; }
.bdbc-gray-1 { border-bottom-color: #f1f3f5; }
.bdbc-gray-2 { border-bottom-color: #e9ecef; }
.bdbc-gray-3 { border-bottom-color: #dee2e6; }
.bdbc-gray-4 { border-bottom-color: #ced4da; }
.bdbc-gray-5 { border-bottom-color: #adb5bd; }
.bdbc-gray-6 { border-bottom-color: #868e96; }
.bdbc-gray-7 { border-bottom-color: #495057; }
.bdbc-gray-8 { border-bottom-color: #343a40; }
.bdbc-gray-9 { border-bottom-color: #212529; }
.bdbc-red-0 { border-bottom-color: #fff5f5; }
.bdbc-red-1 { border-bottom-color: #ffe3e3; }
.bdbc-red-2 { border-bottom-color: #ffc9c9; }
.bdbc-red-3 { border-bottom-color: #ffa8a8; }
.bdbc-red-4 { border-bottom-color: #ff8787; }
.bdbc-red-5 { border-bottom-color: #ff6b6b; }
.bdbc-red-6 { border-bottom-color: #fa5252; }
.bdbc-red-7 { border-bottom-color: #f03e3e; }
.bdbc-red-8 { border-bottom-color: #e03131; }
.bdbc-red-9 { border-bottom-color: #c92a2a; }
.bdbc-pink-0 { border-bottom-color: #fff0f6; }
.bdbc-pink-1 { border-bottom-color: #ffdeeb; }
.bdbc-pink-2 { border-bottom-color: #fcc2d7; }
.bdbc-pink-3 { border-bottom-color: #faa2c1; }
.bdbc-pink-4 { border-bottom-color: #f783ac; }
.bdbc-pink-5 { border-bottom-color: #f06595; }
.bdbc-pink-6 { border-bottom-color: #e64980; }
.bdbc-pink-7 { border-bottom-color: #d6336c; }
.bdbc-pink-8 { border-bottom-color: #c2255c; }
.bdbc-pink-9 { border-bottom-color: #a61e4d; }
.bdbc-grape-0 { border-bottom-color: #f8f0fc; }
.bdbc-grape-1 { border-bottom-color: #f3d9fa; }
.bdbc-grape-2 { border-bottom-color: #eebefa; }
.bdbc-grape-3 { border-bottom-color: #e599f7; }
.bdbc-grape-4 { border-bottom-color: #da77f2; }
.bdbc-grape-5 { border-bottom-color: #cc5de8; }
.bdbc-grape-6 { border-bottom-color: #be4bdb; }
.bdbc-grape-7 { border-bottom-color: #ae3ec9; }
.bdbc-grape-8 { border-bottom-color: #9c36b5; }
.bdbc-grape-9 { border-bottom-color: #862e9c; }
.bdbc-violet-0 { border-bottom-color: #f3f0ff; }
.bdbc-violet-1 { border-bottom-color: #e5dbff; }
.bdbc-violet-2 { border-bottom-color: #d0bfff; }
.bdbc-violet-3 { border-bottom-color: #b197fc; }
.bdbc-violet-4 { border-bottom-color: #9775fa; }
.bdbc-violet-5 { border-bottom-color: #845ef7; }
.bdbc-violet-6 { border-bottom-color: #7950f2; }
.bdbc-violet-7 { border-bottom-color: #7048e8; }
.bdbc-violet-8 { border-bottom-color: #6741d9; }
.bdbc-violet-9 { border-bottom-color: #5f3dc4; }
.bdbc-indigo-0 { border-bottom-color: #edf2ff; }
.bdbc-indigo-1 { border-bottom-color: #dbe4ff; }
.bdbc-indigo-2 { border-bottom-color: #bac8ff; }
.bdbc-indigo-3 { border-bottom-color: #91a7ff; }
.bdbc-indigo-4 { border-bottom-color: #748ffc; }
.bdbc-indigo-5 { border-bottom-color: #5c7cfa; }
.bdbc-indigo-6 { border-bottom-color: #4c6ef5; }
.bdbc-indigo-7 { border-bottom-color: #4263eb; }
.bdbc-indigo-8 { border-bottom-color: #3b5bdb; }
.bdbc-indigo-9 { border-bottom-color: #364fc7; }
.bdbc-blue-0 { border-bottom-color: #e8f7ff; }
.bdbc-blue-1 { border-bottom-color: #ccedff; }
.bdbc-blue-2 { border-bottom-color: #a3daff; }
.bdbc-blue-3 { border-bottom-color: #72c3fc; }
.bdbc-blue-4 { border-bottom-color: #4dadf7; }
.bdbc-blue-5 { border-bottom-color: #329af0; }
.bdbc-blue-6 { border-bottom-color: #228ae6; }
.bdbc-blue-7 { border-bottom-color: #1c7cd6; }
.bdbc-blue-8 { border-bottom-color: #1b6ec2; }
.bdbc-blue-9 { border-bottom-color: #1862ab; }
.bdbc-cyan-0 { border-bottom-color: #e3fafc; }
.bdbc-cyan-1 { border-bottom-color: #c5f6fa; }
.bdbc-cyan-2 { border-bottom-color: #99e9f2; }
.bdbc-cyan-3 { border-bottom-color: #66d9e8; }
.bdbc-cyan-4 { border-bottom-color: #3bc9db; }
.bdbc-cyan-5 { border-bottom-color: #22b8cf; }
.bdbc-cyan-6 { border-bottom-color: #15aabf; }
.bdbc-cyan-7 { border-bottom-color: #1098ad; }
.bdbc-cyan-8 { border-bottom-color: #0c8599; }
.bdbc-cyan-9 { border-bottom-color: #0b7285; }
.bdbc-teal-0 { border-bottom-color: #e6fcf5; }
.bdbc-teal-1 { border-bottom-color: #c3fae8; }
.bdbc-teal-2 { border-bottom-color: #96f2d7; }
.bdbc-teal-3 { border-bottom-color: #63e6be; }
.bdbc-teal-4 { border-bottom-color: #38d9a9; }
.bdbc-teal-5 { border-bottom-color: #20c997; }
.bdbc-teal-6 { border-bottom-color: #12b886; }
.bdbc-teal-7 { border-bottom-color: #0ca678; }
.bdbc-teal-8 { border-bottom-color: #099268; }
.bdbc-teal-9 { border-bottom-color: #087f5b; }
.bdbc-green-0 { border-bottom-color: #ebfbee; }
.bdbc-green-1 { border-bottom-color: #d3f9d8; }
.bdbc-green-2 { border-bottom-color: #b2f2bb; }
.bdbc-green-3 { border-bottom-color: #8ce99a; }
.bdbc-green-4 { border-bottom-color: #69db7c; }
.bdbc-green-5 { border-bottom-color: #51cf66; }
.bdbc-green-6 { border-bottom-color: #40c057; }
.bdbc-green-7 { border-bottom-color: #37b24d; }
.bdbc-green-8 { border-bottom-color: #2f9e44; }
.bdbc-green-9 { border-bottom-color: #2b8a3e; }
.bdbc-lime-0 { border-bottom-color: #f4fce3; }
.bdbc-lime-1 { border-bottom-color: #e9fac8; }
.bdbc-lime-2 { border-bottom-color: #d8f5a2; }
.bdbc-lime-3 { border-bottom-color: #c0eb75; }
.bdbc-lime-4 { border-bottom-color: #a9e34b; }
.bdbc-lime-5 { border-bottom-color: #94d82d; }
.bdbc-lime-6 { border-bottom-color: #82c91e; }
.bdbc-lime-7 { border-bottom-color: #74b816; }
.bdbc-lime-8 { border-bottom-color: #66a80f; }
.bdbc-lime-9 { border-bottom-color: #5c940d; }
.bdbc-yellow-0 { border-bottom-color: #fff9db; }
.bdbc-yellow-1 { border-bottom-color: #fff3bf; }
.bdbc-yellow-2 { border-bottom-color: #ffec99; }
.bdbc-yellow-3 { border-bottom-color: #ffe066; }
.bdbc-yellow-4 { border-bottom-color: #ffd43b; }
.bdbc-yellow-5 { border-bottom-color: #fcc419; }
.bdbc-yellow-6 { border-bottom-color: #fab005; }
.bdbc-yellow-7 { border-bottom-color: #f59f00; }
.bdbc-yellow-8 { border-bottom-color: #f08c00; }
.bdbc-yellow-9 { border-bottom-color: #e67700; }
.bdbc-orange-0 { border-bottom-color: #fff4e6; }
.bdbc-orange-1 { border-bottom-color: #ffe8cc; }
.bdbc-orange-2 { border-bottom-color: #ffd8a8; }
.bdbc-orange-3 { border-bottom-color: #ffc078; }
.bdbc-orange-4 { border-bottom-color: #ffa94d; }
.bdbc-orange-5 { border-bottom-color: #ff922b; }
.bdbc-orange-6 { border-bottom-color: #fd7e14; }
.bdbc-orange-7 { border-bottom-color: #f76707; }
.bdbc-orange-8 { border-bottom-color: #e8590c; }
.bdbc-orange-9 { border-bottom-color: #d9480f; }
.bdlc-white-0 { border-left-color: #fff; }
.bdlc-black-0 { border-left-color: #000; }
.bdlc-gray-0 { border-left-color: #f8f9fa; }
.bdlc-gray-1 { border-left-color: #f1f3f5; }
.bdlc-gray-2 { border-left-color: #e9ecef; }
.bdlc-gray-3 { border-left-color: #dee2e6; }
.bdlc-gray-4 { border-left-color: #ced4da; }
.bdlc-gray-5 { border-left-color: #adb5bd; }
.bdlc-gray-6 { border-left-color: #868e96; }
.bdlc-gray-7 { border-left-color: #495057; }
.bdlc-gray-8 { border-left-color: #343a40; }
.bdlc-gray-9 { border-left-color: #212529; }
.bdlc-red-0 { border-left-color: #fff5f5; }
.bdlc-red-1 { border-left-color: #ffe3e3; }
.bdlc-red-2 { border-left-color: #ffc9c9; }
.bdlc-red-3 { border-left-color: #ffa8a8; }
.bdlc-red-4 { border-left-color: #ff8787; }
.bdlc-red-5 { border-left-color: #ff6b6b; }
.bdlc-red-6 { border-left-color: #fa5252; }
.bdlc-red-7 { border-left-color: #f03e3e; }
.bdlc-red-8 { border-left-color: #e03131; }
.bdlc-red-9 { border-left-color: #c92a2a; }
.bdlc-pink-0 { border-left-color: #fff0f6; }
.bdlc-pink-1 { border-left-color: #ffdeeb; }
.bdlc-pink-2 { border-left-color: #fcc2d7; }
.bdlc-pink-3 { border-left-color: #faa2c1; }
.bdlc-pink-4 { border-left-color: #f783ac; }
.bdlc-pink-5 { border-left-color: #f06595; }
.bdlc-pink-6 { border-left-color: #e64980; }
.bdlc-pink-7 { border-left-color: #d6336c; }
.bdlc-pink-8 { border-left-color: #c2255c; }
.bdlc-pink-9 { border-left-color: #a61e4d; }
.bdlc-grape-0 { border-left-color: #f8f0fc; }
.bdlc-grape-1 { border-left-color: #f3d9fa; }
.bdlc-grape-2 { border-left-color: #eebefa; }
.bdlc-grape-3 { border-left-color: #e599f7; }
.bdlc-grape-4 { border-left-color: #da77f2; }
.bdlc-grape-5 { border-left-color: #cc5de8; }
.bdlc-grape-6 { border-left-color: #be4bdb; }
.bdlc-grape-7 { border-left-color: #ae3ec9; }
.bdlc-grape-8 { border-left-color: #9c36b5; }
.bdlc-grape-9 { border-left-color: #862e9c; }
.bdlc-violet-0 { border-left-color: #f3f0ff; }
.bdlc-violet-1 { border-left-color: #e5dbff; }
.bdlc-violet-2 { border-left-color: #d0bfff; }
.bdlc-violet-3 { border-left-color: #b197fc; }
.bdlc-violet-4 { border-left-color: #9775fa; }
.bdlc-violet-5 { border-left-color: #845ef7; }
.bdlc-violet-6 { border-left-color: #7950f2; }
.bdlc-violet-7 { border-left-color: #7048e8; }
.bdlc-violet-8 { border-left-color: #6741d9; }
.bdlc-violet-9 { border-left-color: #5f3dc4; }
.bdlc-indigo-0 { border-left-color: #edf2ff; }
.bdlc-indigo-1 { border-left-color: #dbe4ff; }
.bdlc-indigo-2 { border-left-color: #bac8ff; }
.bdlc-indigo-3 { border-left-color: #91a7ff; }
.bdlc-indigo-4 { border-left-color: #748ffc; }
.bdlc-indigo-5 { border-left-color: #5c7cfa; }
.bdlc-indigo-6 { border-left-color: #4c6ef5; }
.bdlc-indigo-7 { border-left-color: #4263eb; }
.bdlc-indigo-8 { border-left-color: #3b5bdb; }
.bdlc-indigo-9 { border-left-color: #364fc7; }
.bdlc-blue-0 { border-left-color: #e8f7ff; }
.bdlc-blue-1 { border-left-color: #ccedff; }
.bdlc-blue-2 { border-left-color: #a3daff; }
.bdlc-blue-3 { border-left-color: #72c3fc; }
.bdlc-blue-4 { border-left-color: #4dadf7; }
.bdlc-blue-5 { border-left-color: #329af0; }
.bdlc-blue-6 { border-left-color: #228ae6; }
.bdlc-blue-7 { border-left-color: #1c7cd6; }
.bdlc-blue-8 { border-left-color: #1b6ec2; }
.bdlc-blue-9 { border-left-color: #1862ab; }
.bdlc-cyan-0 { border-left-color: #e3fafc; }
.bdlc-cyan-1 { border-left-color: #c5f6fa; }
.bdlc-cyan-2 { border-left-color: #99e9f2; }
.bdlc-cyan-3 { border-left-color: #66d9e8; }
.bdlc-cyan-4 { border-left-color: #3bc9db; }
.bdlc-cyan-5 { border-left-color: #22b8cf; }
.bdlc-cyan-6 { border-left-color: #15aabf; }
.bdlc-cyan-7 { border-left-color: #1098ad; }
.bdlc-cyan-8 { border-left-color: #0c8599; }
.bdlc-cyan-9 { border-left-color: #0b7285; }
.bdlc-teal-0 { border-left-color: #e6fcf5; }
.bdlc-teal-1 { border-left-color: #c3fae8; }
.bdlc-teal-2 { border-left-color: #96f2d7; }
.bdlc-teal-3 { border-left-color: #63e6be; }
.bdlc-teal-4 { border-left-color: #38d9a9; }
.bdlc-teal-5 { border-left-color: #20c997; }
.bdlc-teal-6 { border-left-color: #12b886; }
.bdlc-teal-7 { border-left-color: #0ca678; }
.bdlc-teal-8 { border-left-color: #099268; }
.bdlc-teal-9 { border-left-color: #087f5b; }
.bdlc-green-0 { border-left-color: #ebfbee; }
.bdlc-green-1 { border-left-color: #d3f9d8; }
.bdlc-green-2 { border-left-color: #b2f2bb; }
.bdlc-green-3 { border-left-color: #8ce99a; }
.bdlc-green-4 { border-left-color: #69db7c; }
.bdlc-green-5 { border-left-color: #51cf66; }
.bdlc-green-6 { border-left-color: #40c057; }
.bdlc-green-7 { border-left-color: #37b24d; }
.bdlc-green-8 { border-left-color: #2f9e44; }
.bdlc-green-9 { border-left-color: #2b8a3e; }
.bdlc-lime-0 { border-left-color: #f4fce3; }
.bdlc-lime-1 { border-left-color: #e9fac8; }
.bdlc-lime-2 { border-left-color: #d8f5a2; }
.bdlc-lime-3 { border-left-color: #c0eb75; }
.bdlc-lime-4 { border-left-color: #a9e34b; }
.bdlc-lime-5 { border-left-color: #94d82d; }
.bdlc-lime-6 { border-left-color: #82c91e; }
.bdlc-lime-7 { border-left-color: #74b816; }
.bdlc-lime-8 { border-left-color: #66a80f; }
.bdlc-lime-9 { border-left-color: #5c940d; }
.bdlc-yellow-0 { border-left-color: #fff9db; }
.bdlc-yellow-1 { border-left-color: #fff3bf; }
.bdlc-yellow-2 { border-left-color: #ffec99; }
.bdlc-yellow-3 { border-left-color: #ffe066; }
.bdlc-yellow-4 { border-left-color: #ffd43b; }
.bdlc-yellow-5 { border-left-color: #fcc419; }
.bdlc-yellow-6 { border-left-color: #fab005; }
.bdlc-yellow-7 { border-left-color: #f59f00; }
.bdlc-yellow-8 { border-left-color: #f08c00; }
.bdlc-yellow-9 { border-left-color: #e67700; }
.bdlc-orange-0 { border-left-color: #fff4e6; }
.bdlc-orange-1 { border-left-color: #ffe8cc; }
.bdlc-orange-2 { border-left-color: #ffd8a8; }
.bdlc-orange-3 { border-left-color: #ffc078; }
.bdlc-orange-4 { border-left-color: #ffa94d; }
.bdlc-orange-5 { border-left-color: #ff922b; }
.bdlc-orange-6 { border-left-color: #fd7e14; }
.bdlc-orange-7 { border-left-color: #f76707; }
.bdlc-orange-8 { border-left-color: #e8590c; }
.bdlc-orange-9 { border-left-color: #d9480f; }