/*------------------------------字体-------------------------------*/

@font-face {
	font-family: 'fzcjjt';
	src: url('../font/fzcjjt.eot');
	src: url('../font/fzcjjt.eot') format('embedded-opentype'),
		 url('../font/fzcjjt.woff') format('woff'),
		 url('../font/fzcjjt.ttf') format('truetype'),
		 url('../font/fzcjjt.svg') format('svg');	 
}
.fzcjjt{font-family: 'fzcjjt';}

/*------------------------------图标------------------------------*/

@font-face {
	font-family: "iconfont";
	src: url('../icon/iconfont.eot'); 
	src: url('../icon/iconfont.eot') format('embedded-opentype'), 
	     url('../icon/iconfont.woff') format('woff'), 
	     url('../icon/iconfont.ttf') format('truetype'),
	     url('../icon/iconfont.svg') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;	
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------------颜色------------------------------*/

/*边框颜色*/
.bdc-000{border-color: #000;}

/*背景颜色*/
.bgc-04578B{background-color: #04578B;}
.bgc-f36{background-color: #f36;}

/*字体颜色*/
.c-FF5700{color:#FF5700;}
.c-fff{color: #fff;}

/*------------------------------图片------------------------------*/

/*边框图片*/
.bdi{border-image: url();}

/*背景图片*/
.bgi{background-image: url();}

/*列表图片*/
.lisi{list-style-image: url();}

/*------------------------------投影------------------------------*/

/*字体投影*/
.tsh{text-shadow: hoff voff blur #000;}

/*模块投影*/
.bxsh{box-shadow: inset hoff voff blur spread rgba(0, 0, 0, .5); /*内外（inset outset） 水平 垂直 模糊距离 阴影尺寸 颜色（#）*/}

/*------------------------------渐变-----------------------------*/

/*径向渐变*/
.bglg{background: linear-gradient(45deg,#fb3,#F40004 );}
.bgrg{background: radial-gradient(circle, #f00, #ff0, #080);}

/*重复径向渐变*/
.bg-rlg{background: repeating-linear-gradient(45deg,#fb3, #fb3 15px,#58a 0,#58a 30px);}
.bg-rrg{background: repeating-radial-gradient(circle, #f00 0, #ff0 10%, #f00 15%);}