/*!  General*/
.bdc-white { border-color: #fff; }
.bgc-white { background-color: #fff; }
.c-white { color: #fff; }
.bdc-black { border-color: #000; }
.bgc-black { background-color: #000; }
.c-black { color: #000; }
/*!  Gray*/
.bdc-Gray-0 { border-color: #f8f9fa; }
.bgc-Gray-0 { background-color: #f8f9fa; }
.c-Gray-0 { color: #f8f9fa; }
.bdc-Gray-1 { border-color: #f1f3f5; }
.bgc-Gray-1 { background-color: #f1f3f5; }
.c-Gray-1 { color: #f1f3f5; }
.bdc-Gray-2 { border-color: #e9ecef; }
.bgc-Gray-2 { background-color: #e9ecef; }
.c-Gray-2 { color: #e9ecef; }
.bdc-Gray-3 { border-color: #dee2e6; }
.bgc-Gray-3 { background-color: #dee2e6; }
.c-Gray-3 { color: #dee2e6; }
.bdc-Gray-4 { border-color: #ced4da; }
.bgc-Gray-4 { background-color: #ced4da; }
.c-Gray-4 { color: #ced4da; }
.bdc-Gray-5 { border-color: #adb5bd; }
.bgc-Gray-5 { background-color: #adb5bd; }
.c-Gray-5 { color: #adb5bd; }
.bdc-Gray-6 { border-color: #868e96; }
.bgc-Gray-6 { background-color: #868e96; }
.c-Gray-6 { color: #868e96; }
.bdc-Gray-7 { border-color: #495057; }
.bgc-Gray-7 { background-color: #495057; }
.c-Gray-7 { color: #495057; }
.bdc-Gray-8 { border-color: #343a40; }
.bgc-Gray-8 { background-color: #343a40; }
.c-Gray-8 { color: #343a40; }
.bdc-Gray-9 { border-color: #212529; }
.bgc-Gray-9 { background-color: #212529; }
.c-Gray-9 { color: #212529; }
/*!  Red*/
.bdc-Red-0 { border-color: #fff5f5; }
.bgc-Red-0 { background-color: #fff5f5; }
.c-Red-0 { color: #fff5f5; }
.bdc-Red-1 { border-color: #ffe3e3; }
.bgc-Red-1 { background-color: #ffe3e3; }
.c-Red-1 { color: #ffe3e3; }
.bdc-Red-2 { border-color: #ffc9c9; }
.bgc-Red-2 { background-color: #ffc9c9; }
.c-Red-2 { color: #ffc9c9; }
.bdc-Red-3 { border-color: #ffa8a8; }
.bgc-Red-3 { background-color: #ffa8a8; }
.c-Red-3 { color: #ffa8a8; }
.bdc-Red-4 { border-color: #ff8787; }
.bgc-Red-4 { background-color: #ff8787; }
.c-Red-4 { color: #ff8787; }
.bdc-Red-5 { border-color: #ff6b6b; }
.bgc-Red-5 { background-color: #ff6b6b; }
.c-Red-5 { color: #ff6b6b; }
.bdc-Red-6 { border-color: #fa5252; }
.bgc-Red-6 { background-color: #fa5252; }
.c-Red-6 { color: #fa5252; }
.bdc-Red-7 { border-color: #f03e3e; }
.bgc-Red-7 { background-color: #f03e3e; }
.c-Red-7 { color: #f03e3e; }
.bdc-Red-8 { border-color: #e03131; }
.bgc-Red-8 { background-color: #e03131; }
.c-Red-8 { color: #e03131; }
.bdc-Red-9 { border-color: #c92a2a; }
.bgc-Red-9 { background-color: #c92a2a; }
.c-Red-9 { color: #c92a2a; }
/*!  Pink*/
.bdc-Pink-0 { border-color: #fff0f6; }
.bgc-Pink-0 { background-color: #fff0f6; }
.c-Pink-0 { color: #fff0f6; }
.bdc-Pink-1 { border-color: #ffdeeb; }
.bgc-Pink-1 { background-color: #ffdeeb; }
.c-Pink-1 { color: #ffdeeb; }
.bdc-Pink-2 { border-color: #fcc2d7; }
.bgc-Pink-2 { background-color: #fcc2d7; }
.c-Pink-2 { color: #fcc2d7; }
.bdc-Pink-3 { border-color: #faa2c1; }
.bgc-Pink-3 { background-color: #faa2c1; }
.c-Pink-3 { color: #faa2c1; }
.bdc-Pink-4 { border-color: #f783ac; }
.bgc-Pink-4 { background-color: #f783ac; }
.c-Pink-4 { color: #f783ac; }
.bdc-Pink-5 { border-color: #f06595; }
.bgc-Pink-5 { background-color: #f06595; }
.c-Pink-5 { color: #f06595; }
.bdc-Pink-6 { border-color: #e64980; }
.bgc-Pink-6 { background-color: #e64980; }
.c-Pink-6 { color: #e64980; }
.bdc-Pink-7 { border-color: #d6336c; }
.bgc-Pink-7 { background-color: #d6336c; }
.c-Pink-7 { color: #d6336c; }
.bdc-Pink-8 { border-color: #c2255c; }
.bgc-Pink-8 { background-color: #c2255c; }
.c-Pink-8 { color: #c2255c; }
.bdc-Pink-9 { border-color: #a61e4d; }
.bgc-Pink-9 { background-color: #a61e4d; }
.c-Pink-9 { color: #a61e4d; }
/*!  Grape*/
.bdc-Grape-0 { border-color: #f8f0fc; }
.bgc-Grape-0 { background-color: #f8f0fc; }
.c-Grape-0 { color: #f8f0fc; }
.bdc-Grape-1 { border-color: #f3d9fa; }
.bgc-Grape-1 { background-color: #f3d9fa; }
.c-Grape-1 { color: #f3d9fa; }
.bdc-Grape-2 { border-color: #eebefa; }
.bgc-Grape-2 { background-color: #eebefa; }
.c-Grape-2 { color: #eebefa; }
.bdc-Grape-3 { border-color: #e599f7; }
.bgc-Grape-3 { background-color: #e599f7; }
.c-Grape-3 { color: #e599f7; }
.bdc-Grape-4 { border-color: #da77f2; }
.bgc-Grape-4 { background-color: #da77f2; }
.c-Grape-4 { color: #da77f2; }
.bdc-Grape-5 { border-color: #cc5de8; }
.bgc-Grape-5 { background-color: #cc5de8; }
.c-Grape-5 { color: #cc5de8; }
.bdc-Grape-6 { border-color: #be4bdb; }
.bgc-Grape-6 { background-color: #be4bdb; }
.c-Grape-6 { color: #be4bdb; }
.bdc-Grape-7 { border-color: #ae3ec9; }
.bgc-Grape-7 { background-color: #ae3ec9; }
.c-Grape-7 { color: #ae3ec9; }
.bdc-Grape-8 { border-color: #9c36b5; }
.bgc-Grape-8 { background-color: #9c36b5; }
.c-Grape-8 { color: #9c36b5; }
.bdc-Grape-9 { border-color: #862e9c; }
.bgc-Grape-9 { background-color: #862e9c; }
.c-Grape-9 { color: #862e9c; }
.bdc-Violet-0 { border-color: #f3f0ff; }
.bgc-Violet-0 { background-color: #f3f0ff; }
.c-Violet-0 { color: #f3f0ff; }
.bdc-Violet-1 { border-color: #e5dbff; }
.bgc-Violet-1 { background-color: #e5dbff; }
.c-Violet-1 { color: #e5dbff; }
.bdc-Violet-2 { border-color: #d0bfff; }
.bgc-Violet-2 { background-color: #d0bfff; }
.c-Violet-2 { color: #d0bfff; }
.bdc-Violet-3 { border-color: #b197fc; }
.bgc-Violet-3 { background-color: #b197fc; }
.c-Violet-3 { color: #b197fc; }
.bdc-Violet-4 { border-color: #9775fa; }
.bgc-Violet-4 { background-color: #9775fa; }
.c-Violet-4 { color: #9775fa; }
.bdc-Violet-5 { border-color: #845ef7; }
.bgc-Violet-5 { background-color: #845ef7; }
.c-Violet-5 { color: #845ef7; }
.bdc-Violet-6 { border-color: #7950f2; }
.bgc-Violet-6 { background-color: #7950f2; }
.c-Violet-6 { color: #7950f2; }
.bdc-Violet-7 { border-color: #7048e8; }
.bgc-Violet-7 { background-color: #7048e8; }
.c-Violet-7 { color: #7048e8; }
.bdc-Violet-8 { border-color: #6741d9; }
.bgc-Violet-8 { background-color: #6741d9; }
.c-Violet-8 { color: #6741d9; }
.bdc-Violet-9 { border-color: #5f3dc4; }
.bgc-Violet-9 { background-color: #5f3dc4; }
.c-Violet-9 { color: #5f3dc4; }
/*!  Indigo*/
.bdc-Indigo-0 { border-color: #edf2ff; }
.bgc-Indigo-0 { background-color: #edf2ff; }
.c-Indigo-0 { color: #edf2ff; }
.bdc-Indigo-1 { border-color: #dbe4ff; }
.bgc-Indigo-1 { background-color: #dbe4ff; }
.c-Indigo-1 { color: #dbe4ff; }
.bdc-Indigo-2 { border-color: #bac8ff; }
.bgc-Indigo-2 { background-color: #bac8ff; }
.c-Indigo-2 { color: #bac8ff; }
.bdc-Indigo-3 { border-color: #91a7ff; }
.bgc-Indigo-3 { background-color: #91a7ff; }
.c-Indigo-3 { color: #91a7ff; }
.bdc-Indigo-4 { border-color: #748ffc; }
.bgc-Indigo-4 { background-color: #748ffc; }
.c-Indigo-4 { color: #748ffc; }
.bdc-Indigo-5 { border-color: #5c7cfa; }
.bgc-Indigo-5 { background-color: #5c7cfa; }
.c-Indigo-5 { color: #5c7cfa; }
.bdc-Indigo-6 { border-color: #4c6ef5; }
.bgc-Indigo-6 { background-color: #4c6ef5; }
.c-Indigo-6 { color: #4c6ef5; }
.bdc-Indigo-7 { border-color: #4263eb; }
.bgc-Indigo-7 { background-color: #4263eb; }
.c-Indigo-7 { color: #4263eb; }
.bdc-Indigo-8 { border-color: #3b5bdb; }
.bgc-Indigo-8 { background-color: #3b5bdb; }
.c-Indigo-8 { color: #3b5bdb; }
.bdc-Indigo-9 { border-color: #364fc7; }
.bgc-Indigo-9 { background-color: #364fc7; }
.c-Indigo-9 { color: #364fc7; }
/*!  Blue*/
.bdc-Blue-0 { border-color: #e8f7ff; }
.bgc-Blue-0 { background-color: #e8f7ff; }
.c-Blue-0 { color: #e8f7ff; }
.bdc-Blue-1 { border-color: #ccedff; }
.bgc-Blue-1 { background-color: #ccedff; }
.c-Blue-1 { color: #ccedff; }
.bdc-Blue-2 { border-color: #a3daff; }
.bgc-Blue-2 { background-color: #a3daff; }
.c-Blue-2 { color: #a3daff; }
.bdc-Blue-3 { border-color: #72c3fc; }
.bgc-Blue-3 { background-color: #72c3fc; }
.c-Blue-3 { color: #72c3fc; }
.bdc-Blue-4 { border-color: #4dadf7; }
.bgc-Blue-4 { background-color: #4dadf7; }
.c-Blue-4 { color: #4dadf7; }
.bdc-Blue-5 { border-color: #329af0; }
.bgc-Blue-5 { background-color: #329af0; }
.c-Blue-5 { color: #329af0; }
.bdc-Blue-6 { border-color: #228ae6; }
.bgc-Blue-6 { background-color: #228ae6; }
.c-Blue-6 { color: #228ae6; }
.bdc-Blue-7 { border-color: #1c7cd6; }
.bgc-Blue-7 { background-color: #1c7cd6; }
.c-Blue-7 { color: #1c7cd6; }
.bdc-Blue-8 { border-color: #1b6ec2; }
.bgc-Blue-8 { background-color: #1b6ec2; }
.c-Blue-8 { color: #1b6ec2; }
.bdc-Blue-9 { border-color: #1862ab; }
.bgc-Blue-9 { background-color: #1862ab; }
.c-Blue-9 { color: #1862ab; }
/*!  Cyan*/
.bdc-Cyan-0 { border-color: #e3fafc; }
.bgc-Cyan-0 { background-color: #e3fafc; }
.c-Cyan-0 { color: #e3fafc; }
.bdc-Cyan-1 { border-color: #c5f6fa; }
.bgc-Cyan-1 { background-color: #c5f6fa; }
.c-Cyan-1 { color: #c5f6fa; }
.bdc-Cyan-2 { border-color: #99e9f2; }
.bgc-Cyan-2 { background-color: #99e9f2; }
.c-Cyan-2 { color: #99e9f2; }
.bdc-Cyan-3 { border-color: #66d9e8; }
.bgc-Cyan-3 { background-color: #66d9e8; }
.c-Cyan-3 { color: #66d9e8; }
.bdc-Cyan-4 { border-color: #3bc9db; }
.bgc-Cyan-4 { background-color: #3bc9db; }
.c-Cyan-4 { color: #3bc9db; }
.bdc-Cyan-5 { border-color: #22b8cf; }
.bgc-Cyan-5 { background-color: #22b8cf; }
.c-Cyan-5 { color: #22b8cf; }
.bdc-Cyan-6 { border-color: #15aabf; }
.bgc-Cyan-6 { background-color: #15aabf; }
.c-Cyan-6 { color: #15aabf; }
.bdc-Cyan-7 { border-color: #1098ad; }
.bgc-Cyan-7 { background-color: #1098ad; }
.c-Cyan-7 { color: #1098ad; }
.bdc-Cyan-8 { border-color: #0c8599; }
.bgc-Cyan-8 { background-color: #0c8599; }
.c-Cyan-8 { color: #0c8599; }
.bdc-Cyan-9 { border-color: #0b7285; }
.bgc-Cyan-9 { background-color: #0b7285; }
.c-Cyan-9 { color: #0b7285; }
/*!  Teal*/
.bdc-Teal-0 { border-color: #e6fcf5; }
.bgc-Teal-0 { background-color: #e6fcf5; }
.c-Teal-0 { color: #e6fcf5; }
.bdc-Teal-1 { border-color: #c3fae8; }
.bgc-Teal-1 { background-color: #c3fae8; }
.c-Teal-1 { color: #c3fae8; }
.bdc-Teal-2 { border-color: #96f2d7; }
.bgc-Teal-2 { background-color: #96f2d7; }
.c-Teal-2 { color: #96f2d7; }
.bdc-Teal-3 { border-color: #63e6be; }
.bgc-Teal-3 { background-color: #63e6be; }
.c-Teal-3 { color: #63e6be; }
.bdc-Teal-4 { border-color: #38d9a9; }
.bgc-Teal-4 { background-color: #38d9a9; }
.c-Teal-4 { color: #38d9a9; }
.bdc-Teal-5 { border-color: #20c997; }
.bgc-Teal-5 { background-color: #20c997; }
.c-Teal-5 { color: #20c997; }
.bdc-Teal-6 { border-color: #12b886; }
.bgc-Teal-6 { background-color: #12b886; }
.c-Teal-6 { color: #12b886; }
.bdc-Teal-7 { border-color: #0ca678; }
.bgc-Teal-7 { background-color: #0ca678; }
.c-Teal-7 { color: #0ca678; }
.bdc-Teal-8 { border-color: #099268; }
.bgc-Teal-8 { background-color: #099268; }
.c-Teal-8 { color: #099268; }
.bdc-Teal-9 { border-color: #087f5b; }
.bgc-Teal-9 { background-color: #087f5b; }
.c-Teal-9 { color: #087f5b; }
/*!  Green*/
.bdc-Green-0 { border-color: #ebfbee; }
.bgc-Green-0 { background-color: #ebfbee; }
.c-Green-0 { color: #ebfbee; }
.bdc-Green-1 { border-color: #d3f9d8; }
.bgc-Green-1 { background-color: #d3f9d8; }
.c-Green-1 { color: #d3f9d8; }
.bdc-Green-2 { border-color: #b2f2bb; }
.bgc-Green-2 { background-color: #b2f2bb; }
.c-Green-2 { color: #b2f2bb; }
.bdc-Green-3 { border-color: #8ce99a; }
.bgc-Green-3 { background-color: #8ce99a; }
.c-Green-3 { color: #8ce99a; }
.bdc-Green-4 { border-color: #69db7c; }
.bgc-Green-4 { background-color: #69db7c; }
.c-Green-4 { color: #69db7c; }
.bdc-Green-5 { border-color: #51cf66; }
.bgc-Green-5 { background-color: #51cf66; }
.c-Green-5 { color: #51cf66; }
.bdc-Green-6 { border-color: #40c057; }
.bgc-Green-6 { background-color: #40c057; }
.c-Green-6 { color: #40c057; }
.bdc-Green-7 { border-color: #37b24d; }
.bgc-Green-7 { background-color: #37b24d; }
.c-Green-7 { color: #37b24d; }
.bdc-Green-8 { border-color: #2f9e44; }
.bgc-Green-8 { background-color: #2f9e44; }
.c-Green-8 { color: #2f9e44; }
.bdc-Green-9 { border-color: #2b8a3e; }
.bgc-Green-9 { background-color: #2b8a3e; }
.c-Green-9 { color: #2b8a3e; }
/*!  Lime*/
.bdc-Lime-0 { border-color: #f4fce3; }
.bgc-Lime-0 { background-color: #f4fce3; }
.c-Lime-0 { color: #f4fce3; }
.bdc-Lime-1 { border-color: #e9fac8; }
.bgc-Lime-1 { background-color: #e9fac8; }
.c-Lime-1 { color: #e9fac8; }
.bdc-Lime-2 { border-color: #d8f5a2; }
.bgc-Lime-2 { background-color: #d8f5a2; }
.c-Lime-2 { color: #d8f5a2; }
.bdc-Lime-3 { border-color: #c0eb75; }
.bgc-Lime-3 { background-color: #c0eb75; }
.c-Lime-3 { color: #c0eb75; }
.bdc-Lime-4 { border-color: #a9e34b; }
.bgc-Lime-4 { background-color: #a9e34b; }
.c-Lime-4 { color: #a9e34b; }
.bdc-Lime-5 { border-color: #94d82d; }
.bgc-Lime-5 { background-color: #94d82d; }
.c-Lime-5 { color: #94d82d; }
.bdc-Lime-6 { border-color: #82c91e; }
.bgc-Lime-6 { background-color: #82c91e; }
.c-Lime-6 { color: #82c91e; }
.bdc-Lime-7 { border-color: #74b816; }
.bgc-Lime-7 { background-color: #74b816; }
.c-Lime-7 { color: #74b816; }
.bdc-Lime-8 { border-color: #66a80f; }
.bgc-Lime-8 { background-color: #66a80f; }
.c-Lime-8 { color: #66a80f; }
.bdc-Lime-9 { border-color: #5c940d; }
.bgc-Lime-9 { background-color: #5c940d; }
.c-Lime-9 { color: #5c940d; }
/*!  Yellow*/
.bdc-Yellow-0 { border-color: #fff9db; }
.bgc-Yellow-0 { background-color: #fff9db; }
.c-Yellow-0 { color: #fff9db; }
.bdc-Yellow-1 { border-color: #fff3bf; }
.bgc-Yellow-1 { background-color: #fff3bf; }
.c-Yellow-1 { color: #fff3bf; }
.bdc-Yellow-2 { border-color: #ffec99; }
.bgc-Yellow-2 { background-color: #ffec99; }
.c-Yellow-2 { color: #ffec99; }
.bdc-Yellow-3 { border-color: #ffe066; }
.bgc-Yellow-3 { background-color: #ffe066; }
.c-Yellow-3 { color: #ffe066; }
.bdc-Yellow-4 { border-color: #ffd43b; }
.bgc-Yellow-4 { background-color: #ffd43b; }
.c-Yellow-4 { color: #ffd43b; }
.bdc-Yellow-5 { border-color: #fcc419; }
.bgc-Yellow-5 { background-color: #fcc419; }
.c-Yellow-5 { color: #fcc419; }
.bdc-Yellow-6 { border-color: #fab005; }
.bgc-Yellow-6 { background-color: #fab005; }
.c-Yellow-6 { color: #fab005; }
.bdc-Yellow-7 { border-color: #f59f00; }
.bgc-Yellow-7 { background-color: #f59f00; }
.c-Yellow-7 { color: #f59f00; }
.bdc-Yellow-8 { border-color: #f08c00; }
.bgc-Yellow-8 { background-color: #f08c00; }
.c-Yellow-8 { color: #f08c00; }
.bdc-Yellow-9 { border-color: #e67700; }
.bgc-Yellow-9 { background-color: #e67700; }
.c-Yellow-9 { color: #e67700; }
/*!  Orange*/
.bdc-Orange-0 { border-color: #fff4e6; }
.bgc-Orange-0 { background-color: #fff4e6; }
.c-Orange-0 { color: #fff4e6; }
.bdc-Orange-1 { border-color: #ffe8cc; }
.bgc-Orange-1 { background-color: #ffe8cc; }
.c-Orange-1 { color: #ffe8cc; }
.bdc-Orange-2 { border-color: #ffd8a8; }
.bgc-Orange-2 { background-color: #ffd8a8; }
.c-Orange-2 { color: #ffd8a8; }
.bdc-Orange-3 { border-color: #ffc078; }
.bgc-Orange-3 { background-color: #ffc078; }
.c-Orange-3 { color: #ffc078; }
.bdc-Orange-4 { border-color: #ffa94d; }
.bgc-Orange-4 { background-color: #ffa94d; }
.c-Orange-4 { color: #ffa94d; }
.bdc-Orange-5 { border-color: #ff922b; }
.bgc-Orange-5 { background-color: #ff922b; }
.c-Orange-5 { color: #ff922b; }
.bdc-Orange-6 { border-color: #fd7e14; }
.bgc-Orange-6 { background-color: #fd7e14; }
.c-Orange-6 { color: #fd7e14; }
.bdc-Orange-7 { border-color: #f76707; }
.bgc-Orange-7 { background-color: #f76707; }
.c-Orange-7 { color: #f76707; }
.bdc-Orange-8 { border-color: #e8590c; }
.bgc-Orange-8 { background-color: #e8590c; }
.c-Orange-8 { color: #e8590c; }
.bdc-Orange-9 { border-color: #d9480f; }
.bgc-Orange-9 { background-color: #d9480f; }
.c-Orange-9 { color: #d9480f; }
