/*! 元素可见性*/
.vh { visibility: hidden; }
.vv { visibility: visible; }
/*! 元素状态*/
.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
.dt { display: table; }
.dbc { display: table-cell; }
.dtbr { display: table-row; }
.dtbrg { display: table-row-group; }
.dtbcl { display: table-column; }
.dtbclg { display: table-column-group; }
/*! 字体加粗*/
.fw-b { font-weight: bold; }
.fw-n { font-weight: normal; }
.fw-l { font-weight: lighter; }
.fw-br { font-weight: bolder; }
/*! 字体斜体*/
.fs-i { font-style: italic; }
.fs-n { font-style: normal; }
/*！ 内联定位(上中下)*/
.va-t { vertical-align: top; }
.va-m { vertical-align: middle; }
.va-b { vertical-align: bottom; }
.va-tb { vertical-align: text-bottom; }
.va-tt { vertical-align: text-top; }
.va-sp { vertical-align: super; }
.va-sb { vertical-align: sub; }
/*! 字母大小写*/
.tt-n { text-transform: none; }
.tt-c { text-transform: capitalize; }
.tt-u { text-transform: uppercase; }
.tt-l { text-transform: lowercase; }
/*! 字体划线*/
.td-n { text-decoration: none; }
.td-o { text-decoration: overline; }
.td-l { text-decoration: line-through; }
.td-u { text-decoration: underline; }
/*! 文字排版*/
.ta-c { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }
.ta-j { text-align: justify; }
/*! 文字排版最后一行*/
.tal-c { text-align-last: center; }
.tal-l { text-align-last: left; }
.tal-r { text-align-last: right; }
.tal-j { text-align-last: justify; }
/*! 文字书写模式*/
.wm-tb { writing-mode: horizontal-tb; }
.wm-rl { writing-mode: vertical-rl; }
.wm-lr { writing-mode: vertical-lr; }
/*! 内联方向排序(左右)*/
.d-rtl { direction: rtl; }
.d-ltr { direction: ltr; }
/*! 浮动*/
.fl-n { float: none; }
.fl-l { float: left; }
.fl-r { float: right; }
/*! 清除浮动*/
.cl-n { clear: none; }
.cl-l { clear: left; }
.cl-r { clear: right; }
.cl-b { clear: both; }
/*! 定位*/
.pos-s { position: static; }
.pos-f { position: fixed; }
.pos-r { position: relative; }
.pos-a { position: absolute; }
/*! 背景定位*/
.bgp-tl { background-position: top left; }
.bgp-tc { background-position: top center; }
.bgp-tr { background-position: top right; }
.bgp-cl { background-position: center left; }
.bgp-cc { background-position: center center; }
.bgp-cr { background-position: center right; }
.bgp-bl { background-position: bottom left; }
.bgp-bc { background-position: bottom center; }
.bgp-br { background-position: bottom right; }
/*! 背景铺垫*/
.bgr-n { background-repeat: no-repeat; }
.bgr-x { background-repeat: repeat-x; }
.bgr-y { background-repeat: repeat-y; }
/*! 背景固定*/
.bga-f { background-attachment: fixed; }
/*! 背景填充*/
.bgs-cv { background-size: cover; }
.bgs-ct { background-size: contain; }
/*! 背景色相对于盒子中显示*/
.bgc-pd { background-clip: padding-box; }
.bgc-bb { background-clip: border-box; }
.bgc-cb { background-clip: content-box; }
/*! 背景图像相对于盒子中定位*/
.bgo-pd { background-origin: padding-box; }
.bgo-bb { background-origin: border-box; }
.bgo-cb { background-origin: content-box; }
/*! 表格*/
.tbl-a { table-layout: auto; }
.tbl-f { table-layout: fixed; }
.cps-t { caption-side: top; }
.cps-b { caption-side: bottom; }
.ec-s { empty-cells: show; }
.ec-h { empty-cells: hide; }
/*! LI样式 实心 空心 小方块 罗马 字母 数字*/
.lst-n { list-style-type: none; }
.lst-d { list-style-type: disc; }
.lst-c { list-style-type: circle; }
.lst-s { list-style-type: square; }
.lst-u { list-style-type: upper-roman; }
.lst-l { list-style-type: lower-alpha; }
.lst-dc { list-style-type: decimal; }
/*! 鼠标指针 手指 文字 更多 十字 求助 箭头*/
.cur-p { cursor: pointer; }
.cur-t { cursor: text; }
.cur-m { cursor: move; }
.cur-c { cursor: crosshair; }
.cur-h { cursor: help; }
.cur-d { cursor: default; }
/*! 滚动条*/
.ov-a { overflow: auto; }
.ovx-a { overflow-x: auto; }
.ovy-a { overflow-y: auto; }
.ov-v { overflow: visible; }
.ovx-v { overflow-x: visible; }
.ovy-v { overflow-y: visible; }
.ov-h { overflow: hidden; }
.ovx-h { overflow-x: hidden; }
.ovy-h { overflow-y: hidden; }
.ov-s { overflow: scroll; }
.ovx-s { overflow-x: scroll; }
.ovy-s { overflow-y: scroll; }
/*! 边框样式 点 虚线 实线 双实线 */
.bds-n { border-style: none; }
.bdts-n { border-top-style: none; }
.bdrs-n { border-right-style: none; }
.bdbs-n { border-bottom-style: none; }
.bdls-n { border-left-style: none; }
.ols-n { outline-style: none; }
.bds-dt { border-style: dotted; }
.bdts-dt { border-top-style: dotted; }
.bdrs-dt { border-right-style: dotted; }
.bdbs-dt { border-bottom-style: dotted; }
.bdls-dt { border-left-style: dotted; }
.ols-dt { outline-style: dotted; }
.bds-ds { border-style: dashed; }
.bdts-ds { border-top-style: dashed; }
.bdrs-ds { border-right-style: dashed; }
.bdbs-ds { border-bottom-style: dashed; }
.bdls-ds { border-left-style: dashed; }
.ols-ds { outline-style: dashed; }
.bds-sl { border-style: solid; }
.bdts-sl { border-top-style: solid; }
.bdrs-sl { border-right-style: solid; }
.bdbs-sl { border-bottom-style: solid; }
.bdls-sl { border-left-style: solid; }
.ols-sl { outline-style: solid; }
.bds-db { border-style: double; }
.bdts-db { border-top-style: double; }
.bdrs-db { border-right-style: double; }
.bdbs-db { border-bottom-style: double; }
.bdls-db { border-left-style: double; }
.ols-db { outline-style: double; }
