/*元素状态*/
.dn{display: none;}
.db{display: block;}
.dt{display: table;}
.dtc{display: table-cell;}
.dib{display: inline-block;}

/*元素可见性*/
.vh{visibility: hidden;}
.vv{visibility: visible;}

/*内联定位(左右)*/
.drtl{direction:ltr;}
.drtl{direction:rtl;}

/*内联定位(上中下)*/
.vat{vertical-align: top;}
.vam{vertical-align: middle;}
.vab{vertical-align: bottom;}
.va-tb{vertical-align: text-bottom;}
.va-tt{vertical-align: text-top;}
.va-sup{vertical-align: super;}
.va-sub{vertical-align: sub;}

/*块状定位*/
.fl{float: left;}
.fr{float: right;}
.pos{position: static;}
.pof{position: fixed;}
.por{position: relative;}
.poa{position: absolute;}
.trbl{top: 0; right: 0; bottom: 0; left: 0;}
.mlra{margin-left: auto; margin-right: auto;}

/*文字排版*/
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.taj{text-align: justify;}

/*文字排版最后一行*/
.talc{text-align-last: center;}
.tall{text-align-last: left;}
.talr{text-align-last: right;}
.talj{text-align-last: justify;}

/*字体样式*/
.fwb{font-weight: bold;}/*加粗*/
.fwn{font-weight: normal;}
.fsi{font-style: italic;}/*斜体*/
.fsn{font-style: normal;}
.tdl{text-decoration: line-through;}/*中划线*/
.tdu{text-decoration: underline;}/*下划线*/

/*内容溢出*/
.ovh{overflow: hidden;}
.ovs{overflow: scroll;}
.ovxh{overflow-x: hidden;}
.ovxs{overflow-x: scroll;}
.ovyh{overflow-y: hidden;}
.ovys{overflow-y: scroll;}

/*边框样式*/
.bds-dt{border-style: dotted;}/*点*/
.bds-ds{border-style: dashed;}/*虚线*/
.bds-sl{border-style: solid;}/*实线*/
.bds-db{border-style: double}/*双实线*/

/*LI样式*/
.lst-n{list-style-type: none;}
.lst-d{list-style-type: disc;}/*实心*/
.lst-c{list-style-type: circle;}/*空心*/
.lst-s{list-style-type: square;}/*小方块*/
.lst-dc{list-style-type: decimal;}/*数字*/
.lst-u{list-style-type: upper-roman;}/*罗马*/
.lst-l{list-style-type: lower-alpha;}/*字母*/

/*背景定位*/
.bgp-tc{background-position: top center;}
.bgp-cc{background-position: center center;}
.bgp-bc{background-position: bottom center;}
.bgr-n{background-repeat: no-repeat;}
.bgr-x{background-repeat: repeat-x;}
.bgr-y{background-repeat: repeat-y;}
.bga-f{background-attachment: fixed;}

/*背景填充*/
.bgs-cv{background-size: cover;}
.bgs-ct{background-size: contain;}

/*背景色被裁剪到盒子的内边距框中显示(border-box,content-box)*/
.bgc-pd{-webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box;}

/*背景图像相对于盒子的内边距框中定位(border-box,content-box)*/
.bgo-pd{-webkit-background-origin:padding-box; background-origin:padding-box;}

/*文字书写模式*/
.wm-tbl{-webkit-writing-mode: tb-lr;-ms-writing-mode: tb-lr;writing-mode: tb-lr;}

/*鼠标指针*/
.cur-p{cursor: pointer;}/*手指*/