/*flexbox-grid 栅格 1rem=100px*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.container { /*! width: 100%!important; max-width:1200px; 去掉注释开启适屏模式*/ }
.container, .container-fluid { margin-left: auto; margin-right: auto; padding-right: 0.15rem; padding-left: 0.15rem; }
.row {display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; margin-left: -0.15rem; margin-right: -0.15rem; }

[class*="col-"], [class*="grow-"] { padding-right: 0.15rem; padding-left: 0.15rem; }
[class*="col-"] { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }

.col-xs-1 { -webkit-flex-basis: 8.33333%; -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; max-width: 8.33333%; }
.col-xs-2 { -webkit-flex-basis: 16.66667%; -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; max-width: 16.66667%; }
.col-xs-3 { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
.col-xs-4 { -webkit-flex-basis: 33.33333%; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; max-width: 33.33333%; }
.col-xs-5 { -webkit-flex-basis: 41.66667%; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }
.col-xs-6 { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
.col-xs-7 { -webkit-flex-basis: 58.33333%; -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; max-width: 58.33333%; }
.col-xs-8 { -webkit-flex-basis: 66.66667%; -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; max-width: 66.66667%; }
.col-xs-9 { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
.col-xs-10 { -webkit-flex-basis: 83.33333%; -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; max-width: 83.33333%; }
.col-xs-11 { -webkit-flex-basis: 91.66667%; -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; max-width: 91.66667%; }
.col-xs-12 { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }

.grow-xs-0 { -webkit-box-flex: 0; -webkit-flex-grow: 0; -moz-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }
.grow-xs-1 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -moz-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.grow-xs-2 { -webkit-box-flex: 2; -webkit-flex-grow: 2; -moz-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; }
.grow-xs-3 { -webkit-box-flex: 3; -webkit-flex-grow: 3; -moz-box-flex: 3; -ms-flex-positive: 3; flex-grow: 3; }
.grow-xs-4 { -webkit-box-flex: 4; -webkit-flex-grow: 4; -moz-box-flex: 4; -ms-flex-positive: 4; flex-grow: 4; }
.grow-xs-5 { -webkit-box-flex: 5; -webkit-flex-grow: 5; -moz-box-flex: 5; -ms-flex-positive: 5; flex-grow: 5; }
.grow-xs-6 { -webkit-box-flex: 6; -webkit-flex-grow: 6; -moz-box-flex: 6; -ms-flex-positive: 6; flex-grow: 6; }
.grow-xs-7 { -webkit-box-flex: 7; -webkit-flex-grow: 7; -moz-box-flex: 7; -ms-flex-positive: 7; flex-grow: 7; }
.grow-xs-8 { -webkit-box-flex: 8; -webkit-flex-grow: 8; -moz-box-flex: 8; -ms-flex-positive: 8; flex-grow: 8; }
.grow-xs-9 { -webkit-box-flex: 9; -webkit-flex-grow: 9; -moz-box-flex: 9; -ms-flex-positive: 9; flex-grow: 9; }
.grow-xs-10 { -webkit-box-flex: 10; -webkit-flex-grow: 10; -moz-box-flex: 10; -ms-flex-positive: 10; flex-grow: 10; }
.grow-xs-11 { -webkit-box-flex: 11; -webkit-flex-grow: 11; -moz-box-flex: 11; -ms-flex-positive: 11; flex-grow: 11; }
.grow-xs-12 { -webkit-box-flex: 12; -webkit-flex-grow: 12; -moz-box-flex: 12; -ms-flex-positive: 12; flex-grow: 12; }

.shrink-xs-0 { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }
.shrink-xs-1 { -webkit-flex-shrink: 1; -ms-flex-negative: 1; flex-shrink: 1; }
.shrink-xs-2 { -webkit-flex-shrink: 2; -ms-flex-negative: 2; flex-shrink: 2; }
.shrink-xs-3 { -webkit-flex-shrink: 3; -ms-flex-negative: 3; flex-shrink: 3; }
.shrink-xs-4 { -webkit-flex-shrink: 4; -ms-flex-negative: 4; flex-shrink: 4; }
.shrink-xs-5 { -webkit-flex-shrink: 5; -ms-flex-negative: 5; flex-shrink: 5; }
.shrink-xs-6 { -webkit-flex-shrink: 6; -ms-flex-negative: 6; flex-shrink: 6; }
.shrink-xs-7 { -webkit-flex-shrink: 7; -ms-flex-negative: 7; flex-shrink: 7; }
.shrink-xs-8 { -webkit-flex-shrink: 8; -ms-flex-negative: 8; flex-shrink: 8; }
.shrink-xs-9 { -webkit-flex-shrink: 9; -ms-flex-negative: 9; flex-shrink: 9; }
.shrink-xs-10 { -webkit-flex-shrink: 10; -ms-flex-negative: 10; flex-shrink: 10; }
.shrink-xs-11 { -webkit-flex-shrink: 11; -ms-flex-negative: 11; flex-shrink: 11; }
.shrink-xs-12 { -webkit-flex-shrink: 12; -ms-flex-negative: 12; flex-shrink: 12; }

.offset-xs-0 { margin-left: 0%; }
.offset-xs-1 { margin-left: 8.33333%; }
.offset-xs-2 { margin-left: 16.66667%; }
.offset-xs-3 { margin-left: 25%; }
.offset-xs-4 { margin-left: 33.33333%; }
.offset-xs-5 { margin-left: 41.66667%; }
.offset-xs-6 { margin-left: 50%; }
.offset-xs-7 { margin-left: 58.33333%; }
.offset-xs-8 { margin-left: 66.66667%; }
.offset-xs-9 { margin-left: 75%; }
.offset-xs-10 { margin-left: 83.33333%; }
.offset-xs-11 { margin-left: 91.66667%; }

.fxd-xs-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.fxd-xs-rr { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -moz-box-orient: horizontal; -moz-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.fxd-xs-cn { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.fxd-xs-cr { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -moz-box-orient: vertical; -moz-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.fxw-xs-nowrap { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.fxw-xs-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.fxw-xs-wr { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.jc-xs-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.jc-xs-center { -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.jc-xs-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -moz-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.jc-xs-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.jc-xs-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.ai-xs-top { -webkit-box-align: start; -webkit-align-items: flex-start; -moz-box-align: start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }
.ai-xs-middle { -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
.ai-xs-bottom { -webkit-box-align: end; -webkit-align-items: flex-end; -moz-box-align: end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }
.ai-xs-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -moz-box-align: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }
.ai-xs-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -moz-box-align: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }

.ac-xs-top { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
.ac-xs-middle { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
.ac-xs-bottom { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
.ac-xs-stretch { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
.ac-xs-around { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
.ac-xs-between { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.as-xs-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
.as-xs-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
.as-xs-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
.as-xs-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
.as-xs-baseline { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; }
.as-xs-auto { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }

.order-xs-first { -webkit-box-ordinal-group: 0; -webkit-order: -1; -moz-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
.order-xs-same { -webkit-box-ordinal-group: 1; -webkit-order: 0; -moz-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
.order-xs-last { -webkit-box-ordinal-group: 2; -webkit-order: 1; -moz-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

@media only screen and (min-width: 751px) {
.container { width: 750px; }
.col-sm-1 { -webkit-flex-basis: 8.33333%; -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; max-width: 8.33333%; }
.col-sm-2 { -webkit-flex-basis: 16.66667%; -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; max-width: 16.66667%; }
.col-sm-3 { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
.col-sm-4 { -webkit-flex-basis: 33.33333%; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; max-width: 33.33333%; }
.col-sm-5 { -webkit-flex-basis: 41.66667%; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }
.col-sm-6 { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
.col-sm-7 { -webkit-flex-basis: 58.33333%; -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; max-width: 58.33333%; }
.col-sm-8 { -webkit-flex-basis: 66.66667%; -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; max-width: 66.66667%; }
.col-sm-9 { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
.col-sm-10 { -webkit-flex-basis: 83.33333%; -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; max-width: 83.33333%; }
.col-sm-11 { -webkit-flex-basis: 91.66667%; -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; max-width: 91.66667%; }
.col-sm-12 { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }

.grow-sm-0 { -webkit-box-flex: 0; -webkit-flex-grow: 0; -moz-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }
.grow-sm-1 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -moz-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.grow-sm-2 { -webkit-box-flex: 2; -webkit-flex-grow: 2; -moz-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; }
.grow-sm-3 { -webkit-box-flex: 3; -webkit-flex-grow: 3; -moz-box-flex: 3; -ms-flex-positive: 3; flex-grow: 3; }
.grow-sm-4 { -webkit-box-flex: 4; -webkit-flex-grow: 4; -moz-box-flex: 4; -ms-flex-positive: 4; flex-grow: 4; }
.grow-sm-5 { -webkit-box-flex: 5; -webkit-flex-grow: 5; -moz-box-flex: 5; -ms-flex-positive: 5; flex-grow: 5; }
.grow-sm-6 { -webkit-box-flex: 6; -webkit-flex-grow: 6; -moz-box-flex: 6; -ms-flex-positive: 6; flex-grow: 6; }
.grow-sm-7 { -webkit-box-flex: 7; -webkit-flex-grow: 7; -moz-box-flex: 7; -ms-flex-positive: 7; flex-grow: 7; }
.grow-sm-8 { -webkit-box-flex: 8; -webkit-flex-grow: 8; -moz-box-flex: 8; -ms-flex-positive: 8; flex-grow: 8; }
.grow-sm-9 { -webkit-box-flex: 9; -webkit-flex-grow: 9; -moz-box-flex: 9; -ms-flex-positive: 9; flex-grow: 9; }
.grow-sm-10 { -webkit-box-flex: 10; -webkit-flex-grow: 10; -moz-box-flex: 10; -ms-flex-positive: 10; flex-grow: 10; }
.grow-sm-11 { -webkit-box-flex: 11; -webkit-flex-grow: 11; -moz-box-flex: 11; -ms-flex-positive: 11; flex-grow: 11; }
.grow-sm-12 { -webkit-box-flex: 12; -webkit-flex-grow: 12; -moz-box-flex: 12; -ms-flex-positive: 12; flex-grow: 12; }

.shrink-sm-0 { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }
.shrink-sm-1 { -webkit-flex-shrink: 1; -ms-flex-negative: 1; flex-shrink: 1; }
.shrink-sm-2 { -webkit-flex-shrink: 2; -ms-flex-negative: 2; flex-shrink: 2; }
.shrink-sm-3 { -webkit-flex-shrink: 3; -ms-flex-negative: 3; flex-shrink: 3; }
.shrink-sm-4 { -webkit-flex-shrink: 4; -ms-flex-negative: 4; flex-shrink: 4; }
.shrink-sm-5 { -webkit-flex-shrink: 5; -ms-flex-negative: 5; flex-shrink: 5; }
.shrink-sm-6 { -webkit-flex-shrink: 6; -ms-flex-negative: 6; flex-shrink: 6; }
.shrink-sm-7 { -webkit-flex-shrink: 7; -ms-flex-negative: 7; flex-shrink: 7; }
.shrink-sm-8 { -webkit-flex-shrink: 8; -ms-flex-negative: 8; flex-shrink: 8; }
.shrink-sm-9 { -webkit-flex-shrink: 9; -ms-flex-negative: 9; flex-shrink: 9; }
.shrink-sm-10 { -webkit-flex-shrink: 10; -ms-flex-negative: 10; flex-shrink: 10; }
.shrink-sm-11 { -webkit-flex-shrink: 11; -ms-flex-negative: 11; flex-shrink: 11; }
.shrink-sm-12 { -webkit-flex-shrink: 12; -ms-flex-negative: 12; flex-shrink: 12; }

.offset-sm-0 { margin-left: 0%; }
.offset-sm-1 { margin-left: 8.33333%; }
.offset-sm-2 { margin-left: 16.66667%; }
.offset-sm-3 { margin-left: 25%; }
.offset-sm-4 { margin-left: 33.33333%; }
.offset-sm-5 { margin-left: 41.66667%; }
.offset-sm-6 { margin-left: 50%; }
.offset-sm-7 { margin-left: 58.33333%; }
.offset-sm-8 { margin-left: 66.66667%; }
.offset-sm-9 { margin-left: 75%; }
.offset-sm-10 { margin-left: 83.33333%; }
.offset-sm-11 { margin-left: 91.66667%; }

.fxd-sm-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.fxd-sm-rr { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -moz-box-orient: horizontal; -moz-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.fxd-sm-cn { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.fxd-sm-cr { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -moz-box-orient: vertical; -moz-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.fxw-sm-nowrap { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.fxw-sm-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.fxw-sm-wr { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.jc-sm-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.jc-sm-center { -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.jc-sm-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -moz-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.jc-sm-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.jc-sm-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.ai-sm-top { -webkit-box-align: start; -webkit-align-items: flex-start; -moz-box-align: start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }
.ai-sm-middle { -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
.ai-sm-bottom { -webkit-box-align: end; -webkit-align-items: flex-end; -moz-box-align: end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }
.ai-sm-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -moz-box-align: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }
.ai-sm-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -moz-box-align: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }

.ac-sm-top { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
.ac-sm-middle { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
.ac-sm-bottom { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
.ac-sm-stretch { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
.ac-sm-around { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
.ac-sm-between { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.as-sm-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
.as-sm-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
.as-sm-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
.as-sm-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
.as-sm-baseline { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; }
.as-sm-auto { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }

.order-sm-first { -webkit-box-ordinal-group: 0; -webkit-order: -1; -moz-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
.order-sm-same { -webkit-box-ordinal-group: 1; -webkit-order: 0; -moz-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
.order-sm-last { -webkit-box-ordinal-group: 2; -webkit-order: 1; -moz-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
}

@media only screen and (min-width: 992px) {
.container { width: 970px; }
.col-md-1 { -webkit-flex-basis: 8.33333%; -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; max-width: 8.33333%; }
.col-md-2 { -webkit-flex-basis: 16.66667%; -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; max-width: 16.66667%; }
.col-md-3 { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
.col-md-4 { -webkit-flex-basis: 33.33333%; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; max-width: 33.33333%; }
.col-md-5 { -webkit-flex-basis: 41.66667%; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }
.col-md-6 { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
.col-md-7 { -webkit-flex-basis: 58.33333%; -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; max-width: 58.33333%; }
.col-md-8 { -webkit-flex-basis: 66.66667%; -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; max-width: 66.66667%; }
.col-md-9 { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
.col-md-10 { -webkit-flex-basis: 83.33333%; -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; max-width: 83.33333%; }
.col-md-11 { -webkit-flex-basis: 91.66667%; -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; max-width: 91.66667%; }
.col-md-12 { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }

.grow-md-0 { -webkit-box-flex: 0; -webkit-flex-grow: 0; -moz-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }
.grow-md-1 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -moz-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.grow-md-2 { -webkit-box-flex: 2; -webkit-flex-grow: 2; -moz-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; }
.grow-md-3 { -webkit-box-flex: 3; -webkit-flex-grow: 3; -moz-box-flex: 3; -ms-flex-positive: 3; flex-grow: 3; }
.grow-md-4 { -webkit-box-flex: 4; -webkit-flex-grow: 4; -moz-box-flex: 4; -ms-flex-positive: 4; flex-grow: 4; }
.grow-md-5 { -webkit-box-flex: 5; -webkit-flex-grow: 5; -moz-box-flex: 5; -ms-flex-positive: 5; flex-grow: 5; }
.grow-md-6 { -webkit-box-flex: 6; -webkit-flex-grow: 6; -moz-box-flex: 6; -ms-flex-positive: 6; flex-grow: 6; }
.grow-md-7 { -webkit-box-flex: 7; -webkit-flex-grow: 7; -moz-box-flex: 7; -ms-flex-positive: 7; flex-grow: 7; }
.grow-md-8 { -webkit-box-flex: 8; -webkit-flex-grow: 8; -moz-box-flex: 8; -ms-flex-positive: 8; flex-grow: 8; }
.grow-md-9 { -webkit-box-flex: 9; -webkit-flex-grow: 9; -moz-box-flex: 9; -ms-flex-positive: 9; flex-grow: 9; }
.grow-md-10 { -webkit-box-flex: 10; -webkit-flex-grow: 10; -moz-box-flex: 10; -ms-flex-positive: 10; flex-grow: 10; }
.grow-md-11 { -webkit-box-flex: 11; -webkit-flex-grow: 11; -moz-box-flex: 11; -ms-flex-positive: 11; flex-grow: 11; }
.grow-md-12 { -webkit-box-flex: 12; -webkit-flex-grow: 12; -moz-box-flex: 12; -ms-flex-positive: 12; flex-grow: 12; }

.shrink-md-0 { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }
.shrink-md-1 { -webkit-flex-shrink: 1; -ms-flex-negative: 1; flex-shrink: 1; }
.shrink-md-2 { -webkit-flex-shrink: 2; -ms-flex-negative: 2; flex-shrink: 2; }
.shrink-md-3 { -webkit-flex-shrink: 3; -ms-flex-negative: 3; flex-shrink: 3; }
.shrink-md-4 { -webkit-flex-shrink: 4; -ms-flex-negative: 4; flex-shrink: 4; }
.shrink-md-5 { -webkit-flex-shrink: 5; -ms-flex-negative: 5; flex-shrink: 5; }
.shrink-md-6 { -webkit-flex-shrink: 6; -ms-flex-negative: 6; flex-shrink: 6; }
.shrink-md-7 { -webkit-flex-shrink: 7; -ms-flex-negative: 7; flex-shrink: 7; }
.shrink-md-8 { -webkit-flex-shrink: 8; -ms-flex-negative: 8; flex-shrink: 8; }
.shrink-md-9 { -webkit-flex-shrink: 9; -ms-flex-negative: 9; flex-shrink: 9; }
.shrink-md-10 { -webkit-flex-shrink: 10; -ms-flex-negative: 10; flex-shrink: 10; }
.shrink-md-11 { -webkit-flex-shrink: 11; -ms-flex-negative: 11; flex-shrink: 11; }
.shrink-md-12 { -webkit-flex-shrink: 12; -ms-flex-negative: 12; flex-shrink: 12; }

.offset-md-0 { margin-left: 0%; }
.offset-md-1 { margin-left: 8.33333%; }
.offset-md-2 { margin-left: 16.66667%; }
.offset-md-3 { margin-left: 25%; }
.offset-md-4 { margin-left: 33.33333%; }
.offset-md-5 { margin-left: 41.66667%; }
.offset-md-6 { margin-left: 50%; }
.offset-md-7 { margin-left: 58.33333%; }
.offset-md-8 { margin-left: 66.66667%; }
.offset-md-9 { margin-left: 75%; }
.offset-md-10 { margin-left: 83.33333%; }
.offset-md-11 { margin-left: 91.66667%; }

.fxd-md-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.fxd-md-rr { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -moz-box-orient: horizontal; -moz-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.fxd-md-cn { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.fxd-md-cr { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -moz-box-orient: vertical; -moz-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.fxw-md-nowrap { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.fxw-md-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.fxw-md-wr { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.jc-md-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.jc-md-center { -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.jc-md-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -moz-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.jc-md-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.jc-md-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.ai-md-top { -webkit-box-align: start; -webkit-align-items: flex-start; -moz-box-align: start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }
.ai-md-middle { -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
.ai-md-bottom { -webkit-box-align: end; -webkit-align-items: flex-end; -moz-box-align: end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }
.ai-md-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -moz-box-align: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }
.ai-md-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -moz-box-align: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }

.ac-md-top { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
.ac-md-middle { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
.ac-md-bottom { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
.ac-md-stretch { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
.ac-md-around { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
.ac-md-between { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.as-md-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
.as-md-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
.as-md-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
.as-md-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
.as-md-baseline { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; }
.as-md-auto { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }

.order-md-first { -webkit-box-ordinal-group: 0; -webkit-order: -1; -moz-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
.order-md-same { -webkit-box-ordinal-group: 1; -webkit-order: 0; -moz-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
.order-md-last { -webkit-box-ordinal-group: 2; -webkit-order: 1; -moz-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
}

@media only screen and (min-width: 1200px) {
.container { width: 1170px; }
.col-lg-1 { -webkit-flex-basis: 8.33333%; -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; max-width: 8.33333%; }
.col-lg-2 { -webkit-flex-basis: 16.66667%; -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; max-width: 16.66667%; }
.col-lg-3 { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
.col-lg-4 { -webkit-flex-basis: 33.33333%; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; max-width: 33.33333%; }
.col-lg-5 { -webkit-flex-basis: 41.66667%; -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; max-width: 41.66667%; }
.col-lg-6 { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
.col-lg-7 { -webkit-flex-basis: 58.33333%; -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; max-width: 58.33333%; }
.col-lg-8 { -webkit-flex-basis: 66.66667%; -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; max-width: 66.66667%; }
.col-lg-9 { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
.col-lg-10 { -webkit-flex-basis: 83.33333%; -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; max-width: 83.33333%; }
.col-lg-11 { -webkit-flex-basis: 91.66667%; -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; max-width: 91.66667%; }
.col-lg-12 { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }

.grow-lg-0 { -webkit-box-flex: 0; -webkit-flex-grow: 0; -moz-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }
.grow-lg-1 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -moz-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.grow-lg-2 { -webkit-box-flex: 2; -webkit-flex-grow: 2; -moz-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; }
.grow-lg-3 { -webkit-box-flex: 3; -webkit-flex-grow: 3; -moz-box-flex: 3; -ms-flex-positive: 3; flex-grow: 3; }
.grow-lg-4 { -webkit-box-flex: 4; -webkit-flex-grow: 4; -moz-box-flex: 4; -ms-flex-positive: 4; flex-grow: 4; }
.grow-lg-5 { -webkit-box-flex: 5; -webkit-flex-grow: 5; -moz-box-flex: 5; -ms-flex-positive: 5; flex-grow: 5; }
.grow-lg-6 { -webkit-box-flex: 6; -webkit-flex-grow: 6; -moz-box-flex: 6; -ms-flex-positive: 6; flex-grow: 6; }
.grow-lg-7 { -webkit-box-flex: 7; -webkit-flex-grow: 7; -moz-box-flex: 7; -ms-flex-positive: 7; flex-grow: 7; }
.grow-lg-8 { -webkit-box-flex: 8; -webkit-flex-grow: 8; -moz-box-flex: 8; -ms-flex-positive: 8; flex-grow: 8; }
.grow-lg-9 { -webkit-box-flex: 9; -webkit-flex-grow: 9; -moz-box-flex: 9; -ms-flex-positive: 9; flex-grow: 9; }
.grow-lg-10 { -webkit-box-flex: 10; -webkit-flex-grow: 10; -moz-box-flex: 10; -ms-flex-positive: 10; flex-grow: 10; }
.grow-lg-11 { -webkit-box-flex: 11; -webkit-flex-grow: 11; -moz-box-flex: 11; -ms-flex-positive: 11; flex-grow: 11; }
.grow-lg-12 { -webkit-box-flex: 12; -webkit-flex-grow: 12; -moz-box-flex: 12; -ms-flex-positive: 12; flex-grow: 12; }

.shrink-lg-0 { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }
.shrink-lg-1 { -webkit-flex-shrink: 1; -ms-flex-negative: 1; flex-shrink: 1; }
.shrink-lg-2 { -webkit-flex-shrink: 2; -ms-flex-negative: 2; flex-shrink: 2; }
.shrink-lg-3 { -webkit-flex-shrink: 3; -ms-flex-negative: 3; flex-shrink: 3; }
.shrink-lg-4 { -webkit-flex-shrink: 4; -ms-flex-negative: 4; flex-shrink: 4; }
.shrink-lg-5 { -webkit-flex-shrink: 5; -ms-flex-negative: 5; flex-shrink: 5; }
.shrink-lg-6 { -webkit-flex-shrink: 6; -ms-flex-negative: 6; flex-shrink: 6; }
.shrink-lg-7 { -webkit-flex-shrink: 7; -ms-flex-negative: 7; flex-shrink: 7; }
.shrink-lg-8 { -webkit-flex-shrink: 8; -ms-flex-negative: 8; flex-shrink: 8; }
.shrink-lg-9 { -webkit-flex-shrink: 9; -ms-flex-negative: 9; flex-shrink: 9; }
.shrink-lg-10 { -webkit-flex-shrink: 10; -ms-flex-negative: 10; flex-shrink: 10; }
.shrink-lg-11 { -webkit-flex-shrink: 11; -ms-flex-negative: 11; flex-shrink: 11; }
.shrink-lg-12 { -webkit-flex-shrink: 12; -ms-flex-negative: 12; flex-shrink: 12; }

.offset-lg-0 { margin-left: 0%; }
.offset-lg-1 { margin-left: 8.33333%; }
.offset-lg-2 { margin-left: 16.66667%; }
.offset-lg-3 { margin-left: 25%; }
.offset-lg-4 { margin-left: 33.33333%; }
.offset-lg-5 { margin-left: 41.66667%; }
.offset-lg-6 { margin-left: 50%; }
.offset-lg-7 { margin-left: 58.33333%; }
.offset-lg-8 { margin-left: 66.66667%; }
.offset-lg-9 { margin-left: 75%; }
.offset-lg-10 { margin-left: 83.33333%; }
.offset-lg-11 { margin-left: 91.66667%; }

.fxd-lg-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.fxd-lg-rr { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -moz-box-orient: horizontal; -moz-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.fxd-lg-cn { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.fxd-lg-cr { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -moz-box-orient: vertical; -moz-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.fxw-lg-nowrap { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.fxw-lg-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.fxw-lg-wr { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.jc-lg-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.jc-lg-center { -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.jc-lg-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -moz-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.jc-lg-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.jc-lg-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.ai-lg-top { -webkit-box-align: start; -webkit-align-items: flex-start; -moz-box-align: start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }
.ai-lg-middle { -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
.ai-lg-bottom { -webkit-box-align: end; -webkit-align-items: flex-end; -moz-box-align: end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }
.ai-lg-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -moz-box-align: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }
.ai-lg-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -moz-box-align: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }

.ac-lg-top { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
.ac-lg-middle { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
.ac-lg-bottom { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
.ac-lg-stretch { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
.ac-lg-around { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
.ac-lg-between { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.as-lg-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
.as-lg-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
.as-lg-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
.as-lg-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
.as-lg-baseline { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; }
.as-lg-auto { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }

.order-lg-first { -webkit-box-ordinal-group: 0; -webkit-order: -1; -moz-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
.order-lg-same { -webkit-box-ordinal-group: 1; -webkit-order: 0; -moz-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
.order-lg-last { -webkit-box-ordinal-group: 2; -webkit-order: 1; -moz-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
}
