/*-------为了方便计算html的值，所以初始化设置100px,对应的其他数值相当于除以100，在gulpfile文件的px3rem方法中设置。-------*/
html{font-size: 100px;/*no*/}

/*---------------------------排版解决方案----------------------------*/

/*清除浮动*/
.clearfix:after {visibility: hidden; display: block; clear: both; content:" "; font-size: 0; height: 0;}
.clearfix{*zoom: 1;}

/*略号文字截断(单行)*/
.cut{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

/*略号文字截断(多行 -webkit-line-clamp 设置第几行截断)*/
.cut2{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical; word-break: break-all;}

/*--------------------------排版解决方案end--------------------------*/

/*----------------------------移动端样式-----------------------------*/

/*最大的宽度640是移动设计稿宽度，方便在PC上查看*/
.m{max-width: 640px;/*no*/ min-width: 320px; overflow: hidden; margin: 0 auto;}

/*移动组件*/
.focus{width: 100%; margin: 0 auto; position: relative;}
.focus .hd{width: 100%; height:11px;/*no*/  position: absolute; z-index: 1; bottom: 6px;/*no*/ text-align: center;}
.focus .hd ul{display: inline-block; height: 11px;/*no*/ padding: 3px 5px;/*no*/ background-color: rgba(255,255,255,0.7); border-radius: 6px;/*no*/ font-size: 0; vertical-align: top;}
.focus .hd ul li{display: inline-block; width: 5px;/*no*/ height: 5px;/*no*/ border-radius:5px;/*no*/ background: #ccc; margin: 0 5px;/*no*/  vertical-align: top; overflow: hidden;}
.focus .hd ul .on{background: #e75223;}
.focus .bd{position: relative; z-index: 0;}
.focus .bd li img{width: 100%;}

/*---------------------------移动端样式end--------------------------*/