.icon-sprite {
	display: inline-block;
	background: url("../img/sprite/sprite.png");
	background-image: url("../img/sprite/sprite.svg");
	background-repeat: no-repeat;
	background-size: 0.32rem 3.2rem;
}



  .svg1 {
	background-position: 0rem 0rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg10 {
	background-position: 0rem -0.32rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg2 {
	background-position: 0rem -0.64rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg3 {
	background-position: 0rem -0.96rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg4 {
	background-position: 0rem -1.28rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg5 {
	background-position: 0rem -1.6rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg6 {
	background-position: 0rem -1.92rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg7 {
	background-position: 0rem -2.24rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg8 {
	background-position: 0rem -2.56rem;
	width: 0.32rem;
	height: 0.32rem;
  }




  .svg9 {
	background-position: 0rem -2.88rem;
	width: 0.32rem;
	height: 0.32rem;
  }





