/*设置移动端默认样式*/
body{font-family:Helvetica;-webkit-overflow-scrolling:touch; margin:0;}
a,button,input,optgroup,select,textarea {-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,img {-webkit-touch-callout: none;}
img{ max-width:100%;}
/*设置移动端默认样式end*/

/*自定义字体*/
@font-face {
	font-family: 'fzcjjt';
	src: url('../font/fzcjjt.eot');
	src: url('../font/fzcjjt.eot') format('embedded-opentype'),
		 url('../font/fzcjjt.woff') format('woff'),
		 url('../font/fzcjjt.ttf') format('truetype'),
		 url('../font/fzcjjt.svg#FontName') format('svg');	 
}
.fzcjjt{font-family: 'fzcjjt';}

/*自定义图标*/
@font-face {
	font-family: "iconfont";
	src: url('../icon/iconfont.eot'); 
	src: url('../icon/iconfont.eot') format('embedded-opentype'), 
	     url('../icon/iconfont.woff') format('woff'), 
	     url('../icon/iconfont.ttf') format('truetype'),
	     url('../icon/iconfont.svg') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*定义容器*/
.rq{max-width: 640px;min-width: 320px;}

/*字体颜色*/
.cl-fff{color: #fff;}

/*字体大小*/
.fz60{ font-size: 6rem;}
.fz50{ font-size: 5rem;}


/*行高*/
.lh100{ line-height:100%;}

/*背景颜色*/
.bc-04578B{background-color: #04578B;}
.bc-f36{background-color: #f36;}

/*宽度*/
.w12 {width: 100%;}
.w11 {width: 91.66666667%;}
.w10 {width: 83.33333333%;}
.w9 {width: 75%;}
.w8 {width: 66.66666667%;}
.w7 {width: 58.33333333%;}
.w6 {width: 50%;}
.w5 {width: 41.66666667%;}
.w4 {width: 33.33333333%;}
.w3 {width: 25%;}
.w2 {width: 16.66666667%;}
.w1 {width: 8.33333333%;}

/*高度*/
.h{}

/*内边距*/
.pt{}

/*外边距*/
.mt{}

/*响应式栅格*/
[class*="col-"] {float: left;}

/*m*/
@media only screen and (max-width: 768px) {
	.row {width:100%;}
    [class*="col-"] {width: 100%;}
}

/*ipad*/
@media (min-width: 769px) {	
	.row {width:100%;}
	.col-p-12 {width: 100%;}
	.col-p-11 {width: 91.66666667%;}
	.col-p-10 {width: 83.33333333%;}
	.col-p-9 {width: 75%;}
	.col-p-8 {width: 66.66666667%;}
	.col-p-7 {width: 58.33333333%;}
	.col-p-6 {width: 50%;}
	.col-p-5 {width: 41.66666667%;}
	.col-p-4 {width: 33.33333333%;}
	.col-p-3 {width: 25%;}
	.col-p-2 {width: 16.66666667%;}
	.col-p-1 {width: 8.33333333%;}
}

/*pc*/
@media (min-width: 1200px) {
	.row {width:1200px;}	
	.col-12 {width: 100%;}
	.col-11 {width: 91.66666667%;}
	.col-10 {width: 83.33333333%;}
	.col-9 {width: 75%;}
	.col-8 {width: 66.66666667%;}
	.col-7 {width: 58.33333333%;}
	.col-6 {width: 50%;}
	.col-5 {width: 41.66666667%;}
	.col-4 {width: 33.33333333%;}
	.col-3 {width: 25%;}
	.col-2 {width: 16.66666667%;}
	.col-1 {width: 8.33333333%;}
}
