/*-----------------------------居中，清除浮动，文字截断(单行，多行)，顶层----------------------------*/

.trbl { top: 0; right: 0; bottom: 0; left: 0 }
.mlra { margin-left: auto; margin-right: auto; }

.clearfix:after { visibility: hidden; display: block; clear: both; content:" "; font-size: 0; height: 0; }
.clearfix { *zoom: 1; }

.cut { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.cutmore { -webkit-line-clamp: 7; overflow: hidden; text-overflow: ellipsis; word-break: break-all; display: -webkit-box; -webkit-box-orient: vertical; }

.z2147483647{z-index:2147483647;}

/*----------------------------移动组件----------------------------*/

.focus { width: 100%; margin: 0 auto; position: relative; }
.focus .hd { width: 100%; height:.1rem;  position: absolute; z-index: 1; bottom: .2rem; text-align: center; }
.focus .hd ul { display: inline-block; height: 11px;/*no*/ padding: 3px 5px;/*no*/ background-color: rgba(255,255,255,0.7); border-radius: 6px;/*no*/ font-size: 0; vertical-align: top; }
.focus .hd ul li { display: inline-block; width: 5px;/*no*/ height: 5px;/*no*/ border-radius:5px;/*no*/ background: #ccc; margin: 0 5px;/*no*/  vertical-align: top; overflow: hidden; }
.focus .hd ul .on { background: #e75223; }
.focus .bd {position: relative; z-index: 0; }
.focus .bd ul{font-size: 0;}
.focus .bd ul li{display: inline-block;}
.focus .bd ul li img{ max-width:100%; }

.bgc-e9e7e2{background-color: #e9e7e2;}

/*-----------------------------字体-----------------------------*/

@font-face { 
	font-family: 'stfyt';
	src: url('../font/stfyt.eot');
	src: url('../font/stfyt.eot') format('embedded-opentype'),
		 url('../font/stfyt.woff') format('woff'),
		 url('../font/stfyt.ttf') format('truetype'),
		 url('../font/stfyt.svg') format('svg');	 
 }
.stfyt{ font-family: 'stfyt'; }