/*移动组件*/
.focus{ width:100%;  margin:0 auto; position:relative;}
.focus .hd{ width:100%; height:0.11rem;  position:absolute; z-index:1; bottom:0.06rem; text-align:center; }
.focus .hd ul{ display:inline-block; height:11px; padding:0.03rem 0.05rem; background-color:rgba(255,255,255,0.7); border-radius:0.06rem; font-size:0; vertical-align:top;}
.focus .hd ul li{ display:inline-block; width:0.05rem; height:0.05rem; border-radius:0.05rem; background:#ccc; margin:0 0.05rem;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#e75223;  }
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%; }